# Importing data
- STNL
- BP
- STH

### STNL READ DATA

In [253]:
import pandas as pd
import numpy as np

stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/ogData/stnl_activity_subset_1.csv")
stnl2 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/ogData/stnl_activity_subset_2.csv")
stnl3 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/ogData/stnl_activity_subset_3.csv")
stnl4 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/ogData/stnl_activity_subset_4.csv")

stnl = pd.concat([stnl1, stnl2, stnl3, stnl4], ignore_index=True)

#print(stnl.info())

stnl_as = stnl['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
stnl_ac = stnl['ACTIVITY_CODE'].value_counts(normalize=True) * 100
stnl_at = stnl['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
stnl_en = stnl['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
stnl_descibe = [stnl_as, stnl_ac, stnl_at, stnl_en]

stnl.head()

/var/folders/jl/kkh608tn0k194f6cv0bwbqp80000gn/T/ipykernel_1327/3757030913.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/ogData/stnl_activity_subset_1.csv")

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-7867354998288837896,-3383110370224525131,NaN,archtics,initial_creation,creation,1978-12-28 00:00:00.000,1
1,832276829427199671,6424539283541568916,NaN,archtics,initial_creation,creation,1996-04-24 00:00:00.000,1
2,-5929530350986210258,-3066267559221806144,NaN,archtics,initial_creation,creation,1996-08-20 00:00:00.000,1
3,-557098195255817479,8999280564714116794,NaN,archtics,initial_creation,creation,1997-05-21 00:00:00.000,1
4,3137729073597852352,3930684364942998844,NaN,archtics,initial_creation,creation,1997-07-01 00:00:00.000,1

### BP DATA READ

In [3]:
bp = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/bp_activity_subset.csv")

bp_as = bp['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
bp_ac = bp['ACTIVITY_CODE'].value_counts(normalize=True) * 100
bp_at = bp['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
bp_en = bp['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
bp_descibe = [bp_as, bp_ac, bp_at, bp_en]

bp.head()

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-2088124723136293548,5252390080279049842,NaN,eloqua,email_send,communication,2021-02-26 16:33:34.713,0
1,-5997344962422788013,8553702703836864021,NaN,eloqua,email_open,communication,2022-06-29 13:47:02.463,1
2,2973744567285576436,-565456178486986963,NaN,eloqua,email_send,communication,2024-02-01 18:33:40.660,0
3,-8049469528423341279,-2844208646395546819,NaN,eloqua,email_open,communication,2022-09-12 12:50:59.550,1
4,-1851214656565067897,8051370473805188285,NaN,eloqua,email_open,communication,2019-12-05 21:31:36.860,1

### STH DATA READ

In [4]:
sth = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/new_sth_subset.csv")

sth_as = sth['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
sth_ac = sth['ACTIVITY_CODE'].value_counts(normalize=True) * 100
sth_at = sth['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
sth_en = sth['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
sth_descibe = [sth_as, sth_ac, sth_at, sth_en]

sth.head()

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-8823143030947066599,6595897474716861939,seahawks,yinzcam,page_view,app,2024-01-07 19:17:39.000,1
1,-6483971988094031572,-3435164621965462671,seahawks,yinzcam,page_view,app,2024-01-05 01:22:25.000,1
2,-7727440583793414975,2788965033642439068,NaN,eloqua,email_send,communication,2020-09-09 15:00:11.003,0
3,906505079772058549,-1605541657504474771,NaN,eloqua,email_open,communication,2022-04-23 21:44:48.770,1
4,-2585587656764190616,-3403294037294615329,seahawks,yinzcam,page_view,app,2024-11-24 20:48:15.000,1

# Preliminary Data Exploration

### PERCENTAGE COMPARISON

In [5]:
activity_source_comparison = pd.DataFrame({
    'sth (%)': sth_as.round(2),
    'bp (%)': bp_as.round(2),
    'stnl (%)': stnl_as.round(2)
}).fillna(0)

activity_code_comparison = pd.DataFrame({
    'sth (%)': sth_ac.round(2),
    'bp (%)': bp_ac.round(2),
    'stnl (%)': stnl_ac.round(2)
}).fillna(0)

activity_type_comparison = pd.DataFrame({
    'sth (%)': sth_at.round(2),
    'bp (%)': bp_at.round(2),
    'stnl (%)': stnl_at.round(2)
}).fillna(0)

engagement_comparison = pd.DataFrame({
    'sth (%)': sth_en.round(2),
    'bp (%)': bp_en.round(2),
    'stnl (%)': stnl_en.round(2)
}).fillna(0)

print("Activity Source Comparison:")
display(activity_source_comparison)

print("\nActivity Code Comparison:")
display(activity_code_comparison)

print("\nActivity Type Comparison:")
display(activity_type_comparison)

print("\nEngagement Comparison:")
display(engagement_comparison)

# Optionally, save them to CSV files
#activity_source_comparison.to_csv("activity_source_comparison.csv")
#activity_code_comparison.to_csv("activity_code_comparison.csv")
#activity_type_comparison.to_csv("activity_type_comparison.csv")

Activity Source Comparison:

                 sth (%)  bp (%)  stnl (%)
ACTIVITY_SOURCE
archtics            3.70    2.10      2.78
dynamics            0.73    0.33      0.42
eloqua             74.33   91.10     89.07
fanatics            0.12    0.13      0.18
formstack           0.15    0.17      0.34
qualtrics           0.02    0.01      0.01
typeform            0.09    0.04      0.01
yinzcam            20.86    6.13      7.20

Activity Code Comparison:

                                  sth (%)  bp (%)  stnl (%)
ACTIVITY_CODE
attend                               1.73    0.95      1.17
email_click                          2.92    2.35      1.71
email_incoming_from_customer         0.30    0.10      0.05
email_open                          26.78   30.56     22.79
email_outgoing_to_customer           0.29    0.09      0.05
email_send                          44.45   57.90     63.96
email_sub                            0.09    0.14      0.28
email_unsub                          0.01    0.02      0.03
form_submission                      0.24    0.21      0.35
forward_receipt                      0.00    0.00      0.01
forward_received                     0.22    0.30      0.37
forward_send                         0.89    0.27      0.27
initial_creation                     0.38    0.50      1.03
merch_purchase                       0.10    0.11      0.14
page_view                           20.75    6.06      7.13
phonecall_incoming_from_customer     0.00    0.00      0.00
phonecall_outgoing_to_customer       0.00    0.00      0.00
primary_purchase_club                0.03    0.08      0.17
primary_purchase_ga                  0.01    0.01      0.01
primary_purchase_single              0.07    0.12      0.23
primary_purchase_sth                 0.16    0.04      0.02
primary_purchase_suite               0.01    0.00      0.00
secondary_purchase                   0.05    0.08      0.14
secondary_sale                       0.45    0.11      0.08
survey_submission                    0.02    0.01      0.01
text_incoming_from_customer          0.02    0.00      0.00
text_outgoing_to_customer            0.02    0.00      0.00

Activity Type Comparison:

               sth (%)  bp (%)  stnl (%)
ACTIVITY_TYPE
app              20.75    6.06      7.13
attend            1.73    0.95      1.17
communication    75.15   91.37     89.23
creation          0.38    0.50      1.03
forward           1.11    0.57      0.64
purchase          0.42    0.43      0.72
resale            0.45    0.11      0.08

Engagement Comparison:

                        sth (%)  bp (%)  stnl (%)
IS_ENGAGEMENT_ACTIVITY
0                         46.11   58.39      64.4
1                         53.89   41.61      35.6

### EMAIL OPEN ENGAGEMENT
- found is always zero

In [6]:
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_email_open = stnl_comms[stnl_comms["ACTIVITY_CODE"] == "email_open"]
stnl_email_open['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100

IS_ENGAGEMENT_ACTIVITY
1    100.0
Name: proportion, dtype: float64

### HOW SOURCES TRACK ENGAGEMENT

In [7]:
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

one_zero_as = pd.DataFrame({
    '1-stnl': one1.round(2),
    '0-stnl': zero1.round(2),
    '1-bp': one2.round(2),
    '0-bp': zero2.round(2),
    '1-sth': one3.round(2),
    '0-sth': zero3.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts()

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_SOURCE"].value_counts()

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_SOURCE"].value_counts()

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_SOURCE"].value_counts()

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_SOURCE"].value_counts()

one_zero_as_counts = pd.DataFrame({
    '1-stnl': one1,
    '0-stnl': zero1,
    '1-bp': one2,
    '0-bp': zero2,
    '1-sth': one3,
    '0-sth': zero3
}).fillna(0)
one_zero_as_counts = one_zero_as_counts.astype(int).map(lambda x: f"{x:,}")
one_zero_as_counts = one_zero_as_counts.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(one_zero_as)
print('COUNTS')
display(one_zero_as_counts)

PERCENT

                 1-stnl  0-stnl   1-bp   0-bp  1-sth  0-sth
ACTIVITY_SOURCE
archtics           6.81    0.55   4.12   0.65   4.38   2.91
dynamics           1.01    0.09   0.56   0.16   0.77   0.67
eloqua            70.46   99.37  79.75  99.19  55.44  96.42
fanatics           0.49    0.00   0.30   0.00   0.22   0.00
formstack          0.96    0.00   0.42   0.00   0.28   0.00
qualtrics          0.02    0.00   0.03   0.00   0.04   0.00
typeform           0.02    0.00   0.09   0.00   0.17   0.00
yinzcam           20.22    0.00  14.73   0.00  38.70   0.00

COUNTS

### HOW EACH CODE ENGAGES
- showing us each is a zero or one

In [82]:
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero = stnl_zero_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one = stnl_one_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_zero_ac = pd.DataFrame({
    '1': one,
    '0': zero
}).fillna(0)

stnl_one_zero_ac

                                         1          0
ACTIVITY_CODE
attend                             45530.0        0.0
email_click                        66642.0        0.0
email_incoming_from_customer        1925.0        0.0
email_open                        890396.0        0.0
email_outgoing_to_customer             0.0     2053.0
email_send                             0.0  2499025.0
email_sub                          10960.0        0.0
email_unsub                            0.0     1248.0
form_submission                    13630.0        0.0
forward_receipt                      373.0        0.0
forward_received                   14282.0        0.0
forward_send                           0.0    10499.0
initial_creation                   40128.0        0.0
merch_purchase                      5552.0        0.0
page_view                         278751.0        0.0
phonecall_incoming_from_customer      14.0        0.0
phonecall_outgoing_to_customer         0.0       39.0
primary_purchase_club               6797.0        0.0
primary_purchase_ga                  428.0        0.0
primary_purchase_single             8866.0        0.0
primary_purchase_sth                 915.0        0.0
primary_purchase_suite                26.0        0.0
secondary_purchase                  5567.0        0.0
secondary_sale                         0.0     3299.0
survey_submission                    245.0        0.0
text_incoming_from_customer          108.0        0.0
text_outgoing_to_customer              0.0       73.0

### HOW EACH TYPE ENGAGES
- shows us stnl acctually use app a lot as well.

In [9]:
#PERCENT
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

one_zero_at = pd.DataFrame({
    '1-stnl': one1.round(2),
    '0-stnl': zero1.round(2),
    '1-bp': one2.round(2),
    '0-bp': zero2.round(2),
    '1-sth': one3.round(2),
    '0-sth': zero3.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_TYPE"].value_counts()

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_TYPE"].value_counts()

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_TYPE"].value_counts()

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_TYPE"].value_counts()

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_TYPE"].value_counts()

one_zero_at_counts = pd.DataFrame({
    '1-stnl': one1,
    '0-stnl': zero1,
    '1-bp': one2,
    '0-bp': zero2,
    '1-sth': one3,
    '0-sth': zero3
}).fillna(0)
one_zero_at_counts = one_zero_at_counts.astype(int).map(lambda x: f"{x:,}")
one_zero_at_counts = one_zero_at_counts.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(one_zero_at)
print('COUNTS')
display(one_zero_at_counts)

PERCENT

               1-stnl  0-stnl   1-bp   0-bp  1-sth  0-sth
ACTIVITY_TYPE
app             20.04    0.00  14.57   0.00  38.51   0.00
attend           3.27    0.00   2.29   0.00   3.21   0.00
communication   70.73   99.45  80.17  99.35  56.37  97.09
creation         2.88    0.00   1.20   0.00   0.71   0.00
forward          1.05    0.42   0.73   0.46   0.42   1.92
purchase         2.02    0.00   1.03   0.00   0.78   0.00
resale           0.00    0.13   0.00   0.19   0.00   0.99

COUNTS

### Looking at only communication

In [10]:
#PERCENT
#stnl
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_comms_per = stnl_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#bp
bp_comms = bp[bp["ACTIVITY_TYPE"] == "communication"]
bp_comms_per = bp_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#sth
sth_comms = sth[sth["ACTIVITY_TYPE"] == "communication"]
sth_comms_per = sth_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

comms_percent = pd.DataFrame({
    'stnl': stnl_comms_per.round(2),
    'bp': bp_comms_per.round(2),
    'sth': sth_comms_per.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_comms_counts = stnl_comms["ACTIVITY_CODE"].value_counts()

#bp
bp_comms = bp[bp["ACTIVITY_TYPE"] == "communication"]
bp_comms_counts = bp_comms["ACTIVITY_CODE"].value_counts()

#sth
sth_comms = sth[sth["ACTIVITY_TYPE"] == "communication"]
sth_comms_counts = sth_comms["ACTIVITY_CODE"].value_counts()

comms_count = pd.DataFrame({
    'stnl': stnl_comms_counts,
    'bp': bp_comms_counts,
    'sth': sth_comms_counts
}).fillna(0)
comms_count = comms_count.astype(int).map(lambda x: f"{x:,}")
comms_count = comms_count.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(comms_percent)
print('COUNTS')
display(comms_count)
print("Email Conversion:\nstnl:", round(890396 / 2499025, 4), 
      "\nbp:", round(341020 / 646257, 4), 
      "\nsth:", round(159118 / 264080, 4))

PERCENT

                                   stnl     bp    sth
ACTIVITY_CODE
email_click                        1.91   2.57   3.89
email_incoming_from_customer       0.06   0.10   0.40
email_open                        25.54  33.44  35.64
email_outgoing_to_customer         0.06   0.10   0.38
email_send                        71.68  63.37  59.15
email_sub                          0.31   0.15   0.11
email_unsub                        0.04   0.02   0.01
form_submission                    0.39   0.23   0.32
phonecall_incoming_from_customer   0.00   0.00   0.00
phonecall_outgoing_to_customer     0.00   0.00   0.01
survey_submission                  0.01   0.01   0.03
text_incoming_from_customer        0.00   0.00   0.03
text_outgoing_to_customer          0.00   0.00   0.02

COUNTS

Email Conversion:
stnl: 0.3563
bp: 0.5277
sth: 0.6025

### Looking only at archtics

In [11]:
#PERCENT
#stnl
stnl_archtics = stnl[stnl["ACTIVITY_SOURCE"] == "archtics"]
stnl_archtics_per = stnl_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#bp
bp_archtics = bp[bp["ACTIVITY_SOURCE"] == "archtics"]
bp_archtics_per = bp_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#sth
sth_archtics = sth[sth["ACTIVITY_SOURCE"] == "archtics"]
sth_archtics_per = sth_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

archtics_percent = pd.DataFrame({
    'stnl': stnl_archtics_per.round(2),
    'bp': bp_archtics_per.round(2),
    'sth': sth_archtics_per.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_archtics = stnl[stnl["ACTIVITY_SOURCE"] == "archtics"]
stnl_archtics_counts = stnl_archtics["ACTIVITY_CODE"].value_counts()

#bp
bp_archtics = bp[bp["ACTIVITY_SOURCE"] == "archtics"]
bp_archtics_counts = bp_archtics["ACTIVITY_CODE"].value_counts()

#sth
sth_archtics = sth[sth["ACTIVITY_SOURCE"] == "archtics"]
sth_archtics_counts = sth_archtics["ACTIVITY_CODE"].value_counts()

archtics_count = pd.DataFrame({
    'stnl': stnl_archtics_counts,
    'bp': bp_archtics_counts,
    'sth': sth_archtics_counts
}).fillna(0)
archtics_count = archtics_count.astype(int).map(lambda x: f"{x:,}")
archtics_count = archtics_count.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(archtics_percent)
print('COUNTS')
display(archtics_count)

PERCENT

                          stnl     bp    sth
ACTIVITY_CODE
attend                   41.93  45.56  46.70
forward_receipt           0.34   0.23   0.10
forward_received         13.15  14.23   5.94
forward_send              9.67  12.74  23.96
initial_creation         11.05   6.41   2.27
primary_purchase_club     6.26   3.89   0.86
primary_purchase_ga       0.39   0.43   0.16
primary_purchase_single   8.17   5.79   1.82
primary_purchase_sth      0.84   1.69   4.32
primary_purchase_suite    0.02   0.02   0.23
secondary_purchase        5.13   3.65   1.36
secondary_sale            3.04   5.35  12.27

COUNTS

### Some cases
- Customers dont overlap

In [92]:
sth_member1 = sth[sth["CUSTOMER_KEY"] == -8823143030947066599]
sth_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-8823143030947066599,6595897474716861939,seahawks,yinzcam,page_view,app,2024-01-07 19:17:39.000,1
106,-8823143030947066599,-3844313287896419522,NaN,eloqua,email_send,communication,2022-10-24 16:36:21.670,0
559,-8823143030947066599,-5168370295813655316,seahawks,yinzcam,page_view,app,2023-09-23 04:58:06.000,1
685,-8823143030947066599,1307622683966494393,seahawks,yinzcam,page_view,app,2024-10-05 22:07:49.000,1
1345,-8823143030947066599,-5439968034497520245,NaN,eloqua,email_open,communication,2021-11-23 20:14:53.040,1
...,...,...,...,...,...,...,...,...
592245,-8823143030947066599,-7702253097365253898,seahawks,yinzcam,page_view,app,2024-11-04 00:56:51.000,1
592384,-8823143030947066599,-1843041541880059070,NaN,eloqua,email_send,communication,2022-06-22 15:46:01.200,0
592690,-8823143030947066599,-2902078227461106619,NaN,eloqua,email_send,communication,2020-09-22 19:11:56.667,0
593371,-8823143030947066599,-4947692070266265986,NaN,eloqua,email_send,communication,2018-04-23 16:03:49.873,0
593769,-8823143030947066599,8585777266841184034,NaN,eloqua,email_click,communication,2023-06-12 16:15:18.377,1

In [13]:
bp_member1 = bp[bp["CUSTOMER_KEY"] == -2088124723136293548]
bp_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-2088124723136293548,5252390080279049842,NaN,eloqua,email_send,communication,2021-02-26 16:33:34.713,0
67,-2088124723136293548,-8924500597732813599,NaN,eloqua,email_send,communication,2021-07-12 17:00:51.087,0
1119,-2088124723136293548,6862624063592193442,NaN,eloqua,email_open,communication,2017-05-06 12:17:37.157,1
2344,-2088124723136293548,818271760477309340,NaN,eloqua,email_send,communication,2018-12-07 17:37:00.773,0
2891,-2088124723136293548,8282172426501286610,NaN,eloqua,email_send,communication,2019-03-01 13:02:06.850,0
...,...,...,...,...,...,...,...,...
1115059,-2088124723136293548,-1464262309263384400,NaN,eloqua,email_send,communication,2022-10-11 21:02:46.863,0
1115451,-2088124723136293548,3039069659399557326,NaN,eloqua,email_send,communication,2021-04-27 21:29:53.647,0
1115644,-2088124723136293548,-2308681292663756694,NaN,eloqua,email_send,communication,2023-07-31 19:25:13.377,0
1115753,-2088124723136293548,9220230196487015768,NaN,eloqua,email_open,communication,2021-11-09 01:30:00.837,1
1115850,-2088124723136293548,-7719541292943807324,NaN,eloqua,email_send,communication,2024-05-09 18:04:03.007,0

In [257]:
stnl_member1 = stnl[stnl["CUSTOMER_KEY"] == 3137729073597852352]
stnl_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY,Date
4,3137729073597852352,3930684364942998844,NaN,archtics,initial_creation,creation,1997-07-01 00:00:00.000,1,1997-07-01 00:00:00.000
5605,3137729073597852352,8891906664006615596,NaN,eloqua,email_sub,communication,2016-06-07 19:56:56.617,1,2016-06-07 19:56:56.617
8855,3137729073597852352,-3951634292667786230,NaN,eloqua,initial_creation,creation,2016-06-08 18:51:54.967,1,2016-06-08 18:51:54.967
14158,3137729073597852352,2933735291332593189,NaN,eloqua,email_send,communication,2017-03-01 13:12:18.140,0,2017-03-01 13:12:18.140
15399,3137729073597852352,-7402128260963902061,NaN,eloqua,email_send,communication,2017-03-02 20:38:22.320,0,2017-03-02 20:38:22.320
...,...,...,...,...,...,...,...,...,...
3891042,3137729073597852352,-3749448941914883039,NaN,eloqua,email_send,communication,2024-12-06 13:03:28.207,0,2024-12-06 13:03:28.207
3893420,3137729073597852352,-8482055111273207402,NaN,eloqua,email_send,communication,2024-12-06 18:06:05.770,0,2024-12-06 18:06:05.770
3904645,3137729073597852352,8151162109134848567,NaN,eloqua,email_send,communication,2024-12-10 16:03:20.937,0,2024-12-10 16:03:20.937
3906604,3137729073597852352,6785128644247647033,NaN,eloqua,email_open,communication,2024-12-10 18:51:37.700,1,2024-12-10 18:51:37.700
3906605,3137729073597852352,-3310259186766285128,NaN,eloqua,email_open,communication,2024-12-10 18:51:41.307,1,2024-12-10 18:51:41.307

# Functions and First attempt data cleaning

### Filter out multiple page views in a row

In [ ]:
def remove_consecutive_page_views(stnl):
    # Sort the dataframe by ID and Date
    stnl = stnl.sort_values(by=['CUSTOMER_KEY', 'Date'])

    # Create an empty list to store the rows to keep
    rows_to_keep = []

    # Initialize previous_activity_code and prev_id to None to start the comparison
    prev_activity_code = None
    prev_id = None

    # Iterate through each row in the DataFrame
    for index, row in stnl.iterrows():
        # Check if the current row's ID is different from the previous one
        if row['CUSTOMER_KEY'] != prev_id:
            # If the ID changes, reset the previous activity code to None
            prev_activity_code = None

        # Only remove consecutive 'page_view' rows
        if row['ACTIVITY_CODE'] == 'page_view' and row['ACTIVITY_CODE'] == prev_activity_code:
            # Skip this row if it's a consecutive 'page_view'
            continue
        else:
            # Keep the row
            rows_to_keep.append(row)

        # Update the previous values for the next iteration
        prev_id = row['CUSTOMER_KEY']
        prev_activity_code = row['ACTIVITY_CODE']

    # Convert the list of rows to a DataFrame
    stnl_filtered = pd.DataFrame(rows_to_keep)

    return stnl_filtered

### Gets percent of each activity code for each customer in a data frame for selected activities
- LOB Seahawks 
- LOB fgi
- email_click
- email unsub
- form submission
- forward received/send
- merch purchase
- page_view
- primary purchase club/ga/single/sth/suite
- secondary purchase/sale
- survey_submission

In [304]:
def transform_data_AC(df):
    # Create a copy to manipulate
    df_copy = df.copy()

    # Make dummy variables for LOB only counting non NaNs
    df_copy['LOB_SEAHAWKS'] = df_copy['LINE_OF_BUSINESS'] == "seahawks"
    df_copy['LOB_FGI'] = df_copy['LINE_OF_BUSINESS'] == "fgi"
    
    # Drop unneeded columns
    df_dropped = df_copy.drop(columns=['CUSTOMER_ACTIVITY_KEY', 'ACTIVITY_SOURCE', 'ACTIVITY_TYPE', 'ACTIVITY_DATETIME', 
                                       'LINE_OF_BUSINESS','IS_ENGAGEMENT_ACTIVITY','Date'])

    # Store Campaign Lost if applicable
    lost = False
    if "CAMPAIGN_LOST" in df_dropped.columns:
        lost = True
        lost_column = df_dropped[["CUSTOMER_KEY", "CAMPAIGN_LOST"]].drop_duplicates(subset=["CUSTOMER_KEY"], keep="first")
        df_dropped = df_dropped.drop(columns=["CAMPAIGN_LOST"])
    
    # Choose activities to remove and filter out
    #bad_Activities = ["email_send", "email_open", "email_sub", "email_incoming_from_customer", "email_outgoing_to_customer", 
    #                  "initial_creation", "forward_receipt", "phonecall_incoming_from_customer", "phonecall_outgoing_to_customer",
    #                 "text_incoming_from_customer", "text_outgoing_to_customer"]
    #df_filtered = df_dropped[~df_dropped['ACTIVITY_CODE'].isin(bad_Activities)]
    
    # Create dummy variables for ACTIVITY_CODE into 1's and 0's
    df_dummy_code = pd.get_dummies(df_dropped, columns=['ACTIVITY_CODE'], drop_first=True)
    df_dummy_code = df_dummy_code.astype(int)
    
    # Group by CUSTOMER_KEY and sum unique activity codes
    df_grouped = df_dummy_code.groupby('CUSTOMER_KEY').sum()

    # Divide the summed values by the Row_Count for each customer to standardize
    row_counts = df_dummy_code.groupby('CUSTOMER_KEY').size()
    df_grouped['Totals'] = row_counts

    # Add Campaign lost if was stored
    if lost == True:
        df_grouped = df_grouped.merge(lost_column, on="CUSTOMER_KEY", how="left")

    # relable rows to make an ID number
    df_grouped['ID'] = range(len(df_grouped))

    
    return df_grouped

### Clean all data with new functions
 *process* 
- Sort activities by customer with activities in chronological order
- Take our multiple page views with remove_consecutive_page_views
- Clean data based on our function transform_data_AC

### Stnl

In [ ]:
stnl['Date'] = pd.to_datetime(stnl['ACTIVITY_DATETIME'])
stnl_date_sorted = stnl.sort_values(by=['CUSTOMER_KEY','Date'])

stnl_filtered = remove_consecutive_page_views(stnl)
stnl_filtered

In [329]:
stnl_clean = transform_data_AC(stnl_filtered)
stnl_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/stnl_clean.csv", index=False)

stnl_clean

,LOB_SEAHAWKS,LOB_FGI,ACTIVITY_CODE_email_click,ACTIVITY_CODE_email_incoming_from_customer,ACTIVITY_CODE_email_open,ACTIVITY_CODE_email_outgoing_to_customer,ACTIVITY_CODE_email_send,ACTIVITY_CODE_email_sub,ACTIVITY_CODE_email_unsub,ACTIVITY_CODE_form_submission,...,ACTIVITY_CODE_primary_purchase_single,ACTIVITY_CODE_primary_purchase_sth,ACTIVITY_CODE_primary_purchase_suite,ACTIVITY_CODE_secondary_purchase,ACTIVITY_CODE_secondary_sale,ACTIVITY_CODE_survey_submission,ACTIVITY_CODE_text_incoming_from_customer,ACTIVITY_CODE_text_outgoing_to_customer,Totals,ID
CUSTOMER_KEY,,,,,,,,,,,,,,,,,,,,,
-9222983717532481599,35,0,2,0,18,0,82,1,0,1,...,2,9,0,1,8,0,0,0,142,0
-9221796194203926775,46,0,3,0,79,0,141,1,0,1,...,1,0,0,0,0,0,0,0,274,1
-9217681871912091718,17,0,31,0,302,0,1156,1,0,0,...,0,0,0,1,0,0,0,0,1511,2
-9217107949964181212,7,0,4,0,36,0,125,1,0,1,...,2,0,0,0,0,0,0,0,176,3
-9216478130424774477,9,0,5,0,165,0,246,1,0,1,...,0,0,0,0,0,0,0,0,430,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9221556645690691660,2,0,0,0,9,0,87,1,0,1,...,0,0,0,0,0,0,0,0,103,11995
9221564892603162287,4,0,0,0,53,0,44,1,1,0,...,1,0,0,0,0,0,0,0,106,11996
9222097363379686101,13,3,17,0,140,0,225,1,0,1,...,1,0,0,1,0,0,0,0,403,11997
9222648775076894888,5,0,9,0,79,0,111,1,0,1,...,0,0,0,1,0,0,0,0,208,11998
9222884040671659833,5,0,0,0,6,0,20,1,0,1,...,0,0,0,0,0,0,0,0,36,11999

### Bp

In [ ]:
bp['Date'] = pd.to_datetime(bp['ACTIVITY_DATETIME'])
bp_date_sorted = bp.sort_values(by=['CUSTOMER_KEY','Date'])

bp_filtered = remove_consecutive_page_views(bp)
bp_filtered

In [330]:
bp_clean = transform_data_AC(bp_filtered)

#bp_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/bp_clean.csv", index=False)

#bp_clean

### Sth

In [ ]:
sth['Date'] = pd.to_datetime(sth['ACTIVITY_DATETIME'])
sth_date_sorted = sth.sort_values(by=['CUSTOMER_KEY','Date'])

sth_filtered = remove_consecutive_page_views(sth)
sth_filtered

In [331]:
sth_clean = transform_data_AC(sth_filtered)

#sth_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/sth_clean.csv", index=False)

#sth_clean

# Do same with lost data
### lost data 1

In [ ]:
lost1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_1.csv")

lost1_member1 = lost1[lost1["CUSTOMER_KEY"] == -9184302387516650000]
lost1_member1

In [ ]:
lost1['Date'] = pd.to_datetime(lost1['ACTIVITY_DATETIME'])
lost1_date_sorted = lost1.sort_values(by=['CUSTOMER_KEY','Date'])

lost1_filtered = remove_consecutive_page_views(lost1)
lost1_filtered

In [332]:
lost1_clean = transform_data_AC(lost1_filtered)

#lost1_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost1_clean.csv", index=False)

#lost1_clean

### lost data 2

In [ ]:
lost2 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_2.csv")

lost2_member1 = lost2[lost2["CUSTOMER_KEY"] == -9184302387516650000]
lost2_member1

In [ ]:
lost2['Date'] = pd.to_datetime(lost2['ACTIVITY_DATETIME'])
lost2_date_sorted = lost2.sort_values(by=['CUSTOMER_KEY','Date'])

lost2_filtered = remove_consecutive_page_views(lost2)
lost2_filtered

In [333]:
lost2_clean = transform_data_AC(lost2_filtered)

#lost2_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost2_clean.csv", index=False)

#lost2_clean

### lost data 3

In [200]:
lost3 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_3.csv")

In [ ]:
lost3['Date'] = pd.to_datetime(lost3['ACTIVITY_DATETIME'])
lost3_date_sorted = lost3.sort_values(by=['CUSTOMER_KEY','Date'])

lost3_filtered = remove_consecutive_page_views(lost3)
lost3_filtered

In [334]:
lost3_clean = transform_data_AC(lost3_filtered)

#lost3_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost3_clean.csv", index=False)

#lost3_clean

### lost data 4

In [204]:
lost4 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_4.csv")

In [ ]:
lost4['Date'] = pd.to_datetime(lost4['ACTIVITY_DATETIME'])
lost4_date_sorted = lost4.sort_values(by=['CUSTOMER_KEY','Date'])

lost4_filtered = remove_consecutive_page_views(lost4)
lost4_filtered

In [335]:
lost4_clean = transform_data_AC(lost4_filtered)

#lost4_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost4_clean.csv", index=False)

#lost4_clean

### lost data 5

In [207]:
lost5 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_5.csv")

In [ ]:
lost5['Date'] = pd.to_datetime(lost5['ACTIVITY_DATETIME'])
lost5_date_sorted = lost5.sort_values(by=['CUSTOMER_KEY','Date'])

lost5_filtered = remove_consecutive_page_views(lost5)
lost5_filtered

In [336]:
lost5_clean = transform_data_AC(lost5_filtered)

#lost5_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost5_clean.csv", index=False)

#lost5_clean

# Create new variables here:
- Function to choose only purchase activity

In [319]:
def purchases_clean(df, lost):
    if lost == 1:
        df_purchases = df[["primary_purchase_club", "primary_purchase_ga",
                                   "primary_purchase_single","primary_purchase_sth",
                                   "primary_purchase_suite", "secondary_purchase",
                                   "secondary_sale", "merch_purchase", "perc_open", "perc_click", 
                                   "CAMPAIGN_LOST", "Totals"]]
    else:
        df_purchases = df[["primary_purchase_club", "primary_purchase_ga",
                                   "primary_purchase_single","primary_purchase_sth",
                                   "primary_purchase_suite", "secondary_purchase",
                                   "secondary_sale", "merch_purchase", "perc_open", "perc_click", 
                                   "Totals"]]
 
    return df_purchases

- Function to standardize AC's

In [328]:
def standardize_Activity_Codes(df):
    df_copy = df.copy() 
    activity_cols = df_copy.filter(like="ACTIVITY_CODE").columns

    # Standardize by dividing by 'Totals' 
    df_copy[activity_cols] = df_copy[activity_cols].div(df_copy['Totals'], axis=0)

    # Rename columns to remove 'ACTIVITY_CODE_'
    df_copy.rename(columns={col: col.replace("ACTIVITY_CODE_", "") for col in activity_cols}, inplace=True)

    return df_copy

### stnl

In [339]:
stnl_clean["perc_open"] = stnl_clean["ACTIVITY_CODE_email_open"]/stnl_clean["ACTIVITY_CODE_email_send"]
stnl_clean["perc_click"] = stnl_clean["ACTIVITY_CODE_email_click"]/stnl_clean["ACTIVITY_CODE_email_open"]

stnl_clean_standard = standardize_Activity_Codes(stnl_clean)
stnl_purchases_clean = purchases_clean(stnl_clean_standard, 0)

#stnl_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/stnl_purchases_clean.csv", index=False)
stnl_purchases_clean

,primary_purchase_club,primary_purchase_ga,primary_purchase_single,primary_purchase_sth,primary_purchase_suite,secondary_purchase,secondary_sale,merch_purchase,perc_open,perc_click,Totals
CUSTOMER_KEY,,,,,,,,,,,
-9222983717532481599,0.000000,0.0,0.014085,0.06338,0.0,0.007042,0.056338,0.000000,0.219512,0.111111,142
-9221796194203926775,0.000000,0.0,0.003650,0.00000,0.0,0.000000,0.000000,0.007299,0.560284,0.037975,274
-9217681871912091718,0.000662,0.0,0.000000,0.00000,0.0,0.000662,0.000000,0.002647,0.261246,0.102649,1511
-9217107949964181212,0.000000,0.0,0.011364,0.00000,0.0,0.000000,0.000000,0.000000,0.288000,0.111111,176
-9216478130424774477,0.002326,0.0,0.000000,0.00000,0.0,0.000000,0.000000,0.002326,0.670732,0.030303,430
...,...,...,...,...,...,...,...,...,...,...,...
9221556645690691660,0.009709,0.0,0.000000,0.00000,0.0,0.000000,0.000000,0.000000,0.103448,0.000000,103
9221564892603162287,0.000000,0.0,0.009434,0.00000,0.0,0.000000,0.000000,0.000000,1.204545,0.000000,106
9222097363379686101,0.004963,0.0,0.002481,0.00000,0.0,0.002481,0.000000,0.000000,0.622222,0.121429,403
9222648775076894888,0.004808,0.0,0.000000,0.00000,0.0,0.004808,0.000000,0.000000,0.711712,0.113924,208
9222884040671659833,0.027778,0.0,0.000000,0.00000,0.0,0.000000,0.000000,0.000000,0.300000,0.000000,36

### bp

In [340]:
bp_clean["perc_open"] = bp_clean["ACTIVITY_CODE_email_open"]/bp_clean["ACTIVITY_CODE_email_send"]
bp_clean["perc_click"] = bp_clean["ACTIVITY_CODE_email_click"]/bp_clean["ACTIVITY_CODE_email_open"]

bp_clean_standard = standardize_Activity_Codes(bp_clean)
bp_purchases_clean = purchases_clean(bp_clean_standard, 0)

#bp_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/bp_purchases_clean.csv", index=False)
bp_purchases_clean

,primary_purchase_club,primary_purchase_ga,primary_purchase_single,primary_purchase_sth,primary_purchase_suite,secondary_purchase,secondary_sale,merch_purchase,perc_open,perc_click,Totals
CUSTOMER_KEY,,,,,,,,,,,
-9217062962888802692,0.001736,0.0,0.001736,0.0,0.0,0.0,0.0,0.000000,0.204846,0.086022,576
-9199634802404310361,0.000000,0.0,0.002439,0.0,0.0,0.0,0.0,0.000000,0.317857,0.022472,410
-9164496051662633868,0.000000,0.0,0.003257,0.0,0.0,0.0,0.0,0.000000,0.169960,0.139535,307
-9160137931690642988,0.000838,0.0,0.000000,0.0,0.0,0.0,0.0,0.001675,0.951667,0.005254,1194
-9152850766560530678,0.002899,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.148649,0.000000,345
...,...,...,...,...,...,...,...,...,...,...,...
9183101709319495892,0.002933,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.589372,0.049180,341
9187502267358303342,0.002336,0.0,0.000000,0.0,0.0,0.0,0.0,0.002336,0.097368,0.054054,428
9189400932603139185,0.000933,0.0,0.000933,0.0,0.0,0.0,0.0,0.004664,0.138344,0.102362,1072
9196179505569007307,0.001709,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.393643,0.037267,585
9202315519099085136,0.002762,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.617512,0.044776,362

### sth

In [342]:
sth_clean["perc_open"] = sth_clean["ACTIVITY_CODE_email_open"]/sth_clean["ACTIVITY_CODE_email_send"]
sth_clean["perc_click"] = sth_clean["ACTIVITY_CODE_email_click"]/sth_clean["ACTIVITY_CODE_email_open"]

sth_clean_standard = standardize_Activity_Codes(sth_clean)
sth_purchases_clean = purchases_clean(sth_clean_standard, 0)

#sth_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/sth_purchases_clean.csv", index=False)

### lost1

In [343]:
lost1_clean["perc_open"] = lost1_clean["ACTIVITY_CODE_email_open"]/lost1_clean["ACTIVITY_CODE_email_send"]
lost1_clean["perc_click"] = lost1_clean["ACTIVITY_CODE_email_click"]/lost1_clean["ACTIVITY_CODE_email_open"]

lost1_clean_standard = standardize_Activity_Codes(lost1_clean)
lost1_purchases_clean = purchases_clean(lost1_clean_standard, 1)

#lost1_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/lost1_purchases_clean.csv", index=False)

### lost2

In [344]:
lost2_clean["perc_open"] = lost2_clean["ACTIVITY_CODE_email_open"]/lost2_clean["ACTIVITY_CODE_email_send"]
lost2_clean["perc_click"] = lost2_clean["ACTIVITY_CODE_email_click"]/lost2_clean["ACTIVITY_CODE_email_open"]

lost2_clean_standard = standardize_Activity_Codes(lost2_clean)
lost2_purchases_clean = purchases_clean(lost2_clean_standard, 1)

#lost2_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/lost2_purchases_clean.csv", index=False)

### lost3

In [345]:
lost3_clean["perc_open"] = lost3_clean["ACTIVITY_CODE_email_open"]/lost3_clean["ACTIVITY_CODE_email_send"]
lost3_clean["perc_click"] = lost3_clean["ACTIVITY_CODE_email_click"]/lost3_clean["ACTIVITY_CODE_email_open"]

lost3_clean_standard = standardize_Activity_Codes(lost3_clean)
lost3_purchases_clean = purchases_clean(lost3_clean_standard, 1)

#lost3_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/lost3_purchases_clean.csv", index=False)

### lost4

In [346]:
lost4_clean["perc_open"] = lost4_clean["ACTIVITY_CODE_email_open"]/lost4_clean["ACTIVITY_CODE_email_send"]
lost4_clean["perc_click"] = lost4_clean["ACTIVITY_CODE_email_click"]/lost4_clean["ACTIVITY_CODE_email_open"]

lost4_clean_standard = standardize_Activity_Codes(lost4_clean)
lost4_purchases_clean = purchases_clean(lost4_clean_standard, 1)

#lost4_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/lost4_purchases_clean.csv", index=False)

### lost5

In [347]:
lost5_clean["perc_open"] = lost5_clean["ACTIVITY_CODE_email_open"]/lost5_clean["ACTIVITY_CODE_email_send"]
lost5_clean["perc_click"] = lost5_clean["ACTIVITY_CODE_email_click"]/lost5_clean["ACTIVITY_CODE_email_open"]

lost5_clean_standard = standardize_Activity_Codes(lost5_clean)
lost5_purchases_clean = purchases_clean(lost5_clean_standard, 1)

#lost5_purchases_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPurchase/lost5_purchases_clean.csv", index=False)
lost5_purchases_clean

,primary_purchase_club,primary_purchase_ga,primary_purchase_single,primary_purchase_sth,primary_purchase_suite,secondary_purchase,secondary_sale,merch_purchase,perc_open,perc_click,CAMPAIGN_LOST,Totals
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.403846,0.095238,STNL to BP,75
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN,STNL to BP,37
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,STNL to BP,1
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.108696,0.000000,STNL to BP,53
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.973684,0.000000,BP to STH,79
...,...,...,...,...,...,...,...,...,...,...,...,...
9258,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.016129,0.000000,STNL to BP,63
9259,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.346154,0.111111,STNL to BP,124
9260,0.045455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.105263,0.000000,STNL to BP,22
9261,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.250000,0.333333,STNL to BP,33
9262,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.200000,0.000000,STNL to BP,36

# Data sets using only ticket purchases

In [231]:
stnl_clean_purchases = stnl_clean[["ACTIVITY_CODE_primary_purchase_club", "ACTIVITY_CODE_primary_purchase_ga",
                                   "ACTIVITY_CODE_primary_purchase_single","ACTIVITY_CODE_primary_purchase_sth",
                                   "ACTIVITY_CODE_primary_purchase_suite", "ACTIVITY_CODE_secondary_purchase",
                                   "ACTIVITY_CODE_secondary_sale", "ACTIVITY_CODE_merch_purchase"]]

stnl_clean_purchases.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/stnl_clean_purchases.csv", index=False)

In [232]:
bp_clean_purchases = bp_clean[["ACTIVITY_CODE_primary_purchase_club", "ACTIVITY_CODE_primary_purchase_ga",
                                   "ACTIVITY_CODE_primary_purchase_single","ACTIVITY_CODE_primary_purchase_sth",
                                   "ACTIVITY_CODE_primary_purchase_suite", "ACTIVITY_CODE_secondary_purchase",
                                   "ACTIVITY_CODE_secondary_sale", "ACTIVITY_CODE_merch_purchase"]]

bp_clean_purchases.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/bp_clean_purchases.csv", index=False)

# Find Average activities per year

In [237]:
# Count number of particular activities per year
def purchases(df):
    activity_codes = [
        "primary_purchase_club", "primary_purchase_ga", "primary_purchase_single",
        "primary_purchase_sth", "primary_purchase_suite", "secondary_purchase",
        "secondary_sale", "merch_purchase"
    ]
    df_purchases = df[df['ACTIVITY_CODE'].isin(activity_codes)]

    return df_purchases

# Subset datasets to only include rows where a purchase was made
stnl_purchases = purchases(stnl)
bp_purchases = purchases(bp)
sth_purchases = purchases(sth)
lost1_purchases = purchases(lost1)
lost2_purchases = purchases(lost2)
lost3_purchases = purchases(lost3)
lost4_purchases = purchases(lost4)
lost5_purchases = purchases(lost5)

# Sort all by date
year_counts_stnl = stnl_purchases['Date'].dt.year.value_counts().sort_index()
year_counts_bp = bp_purchases['Date'].dt.year.value_counts().sort_index()
year_counts_sth = sth_purchases['Date'].dt.year.value_counts().sort_index()

# Need to make dates for lost data
lost1_purchases.loc[:, 'Date'] = pd.to_datetime(lost1['ACTIVITY_DATETIME'])
lost2_purchases.loc[:, 'Date'] = pd.to_datetime(lost2['ACTIVITY_DATETIME'])
lost3_purchases.loc[:, 'Date'] = pd.to_datetime(lost3['ACTIVITY_DATETIME'])
lost4_purchases.loc[:, 'Date'] = pd.to_datetime(lost4['ACTIVITY_DATETIME'])
lost5_purchases.loc[:, 'Date'] = pd.to_datetime(lost5['ACTIVITY_DATETIME'])
year_counts_lost1 = lost1_purchases['Date'].dt.year.value_counts().sort_index()
year_counts_lost2 = lost2_purchases['Date'].dt.year.value_counts().sort_index()
year_counts_lost3 = lost3_purchases['Date'].dt.year.value_counts().sort_index()
year_counts_lost4 = lost4_purchases['Date'].dt.year.value_counts().sort_index()
year_counts_lost5 = lost5_purchases['Date'].dt.year.value_counts().sort_index()

# make data frame with counts
df_year_counts = pd.DataFrame({
    "stnl": year_counts_stnl,
    "bp": year_counts_bp,
    "sth": year_counts_sth,
    "lost1": year_counts_lost1,
    "lost2": year_counts_lost2,
    "lost3": year_counts_lost3,
    "lost4": year_counts_lost4,
    "lost5": year_counts_lost5
})
df_year_counts = df_year_counts.fillna(0).astype(int)

# Keep only 2016 and up
df_year_counts_filtered = df_year_counts.loc[df_year_counts.index >= 2016].copy()

# make row for averages
averages = df_year_counts_filtered.mean()
df_year_counts_filtered.loc['Average'] = averages

df_year_counts_filtered

             stnl       bp      sth    lost1   lost2    lost3  lost4    lost5
Date
2018      2057.00   558.00   194.00  361.000  347.00  312.000  313.0  187.000
2019      2514.00   632.00   217.00  375.000  366.00  411.000  378.0  173.000
2020      1062.00   204.00    62.00  154.000  152.00  154.000  159.0   81.000
2021      2894.00   643.00   278.00  358.000  372.00  367.000  359.0  193.000
2022      3170.00  1488.00   333.00  375.000  392.00  363.000  379.0  202.000
2023     14839.00  1372.00  1721.00  537.000  532.00  549.000  532.0  275.000
2024      4914.00  1153.00  2405.00  500.000  520.00  481.000  492.0  281.000
2025         0.00     0.00     0.00    1.000    1.00    6.000    4.0    1.000
Average   3931.25   756.25   651.25  332.625  335.25  330.375  327.0  174.125

In [ ]:
# Find total number of people in each list, this will be used to

# Per Year Analysis

### Individual case for implementing function

In [ ]:
bp_filtered_customer1 = bp_filtered[bp_filtered["CUSTOMER_KEY"] == -8897867471703875631]
bp_filtered_customer1

In [ ]:
bp_filtered_customer1['Date'] = pd.to_datetime(bp_filtered_customer1['Date'])
bp_filtered_customer1 = bp_filtered_customer1.dropna(subset=['Date'])
bp_filtered_customer1['year'] = bp_filtered_customer1['Date'].dt.year.astype(int)
bp_filtered_customer1['month'] = bp_filtered_customer1['Date'].dt.month.astype(int)

sth_list = []
non_sth_list = []
for customer_id in bp_filtered_customer1['CUSTOMER_KEY'].unique():
    customer_data = bp_filtered_customer1[bp_filtered_customer1['CUSTOMER_KEY'] == customer_id]
    years = customer_data['year'].unique()
    
    years_with_sth = []
    for year in years:
            print("\n", year)
            # Date range: June 1 of the current year to May 30 of the next year
            start_date = pd.Timestamp(year=year, month=6, day=1)
            end_date = pd.Timestamp(year=year + 1, month=5, day=30)

            # Filter data within this date range
            year_span_data = customer_data[(customer_data['Date'] >= start_date) & (customer_data['Date'] <= end_date)]
            if (year_span_data['ACTIVITY_CODE'] == "primary_purchase_sth").any():
                 sth_list.append(year_span_data)
            else:
                 non_sth_list.append(year_span_data) 

sth_df = pd.concat(sth_list, ignore_index=True) if sth_list else pd.DataFrame()
non_sth_df = pd.concat(non_sth_list, ignore_index=True) if non_sth_list else pd.DataFrame()

### Function for creating two lists

In [403]:
def filter_purchase_activity(df):
    # Convert 'Date' to datetime and extract year and month
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.dropna(subset=['Date'])
    df['year'] = df['Date'].dt.year.astype(int)
    df['month'] = df['Date'].dt.month.astype(int)

    # Initialize lists to store data for years with and without "primary_purchase_sth"
    sth_list = []
    non_sth_list = []

    # Iterate through each unique customer
    for customer_id in df['CUSTOMER_KEY'].unique():
        customer_data = df[df['CUSTOMER_KEY'] == customer_id]
        years = customer_data['year'].unique()
        
        # Iterate through each year for the current customer
        for year in years:
        
            # Define the date range for June 1 to May 30 of the following year
            start_date = pd.Timestamp(year=year, month=6, day=1)
            end_date = pd.Timestamp(year=year + 1, month=5, day=30)
            
            # Filter data within the specified date range
            year_span_data = customer_data[(customer_data['Date'] >= start_date) & (customer_data['Date'] <= end_date)]
            
            # Check for "primary_purchase_sth" in activity codes
            if (year_span_data['ACTIVITY_CODE'] == "primary_purchase_sth").any():
                sth_list.append(year_span_data)
            else:
                non_sth_list.append(year_span_data)

    # Concatenate the results for years with and without the purchase activity
    sth_df = pd.concat(sth_list, ignore_index=True) if sth_list else pd.DataFrame()
    non_sth_df = pd.concat(non_sth_list, ignore_index=True) if non_sth_list else pd.DataFrame()

    return sth_df, non_sth_df

# Usage:
sth_df, non_sth_df = filter_purchase_activity(stnl_filtered)

sth_df

/var/folders/jl/kkh608tn0k194f6cv0bwbqp80000gn/T/ipykernel_1327/3913076621.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['Date'].dt.year.astype(int)
/var/folders/jl/kkh608tn0k194f6cv0bwbqp80000gn/T/ipykernel_1327/3913076621.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['Date'].dt.month.astype(int)

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY,Date,Year,Day,Month,year,month
0,-9222983717532481599,8563657664742663064,NaN,eloqua,email_send,communication,2024-06-04 13:06:38.620,0,2024-06-04 13:06:38.620,2024.0,4.0,6.0,2024,6
1,-9222983717532481599,-7646874851396542229,NaN,eloqua,email_send,communication,2024-06-06 20:11:26.470,0,2024-06-06 20:11:26.470,2024.0,6.0,6.0,2024,6
2,-9222983717532481599,5243761656572958340,seahawks,archtics,primary_purchase_single,purchase,2024-06-22 13:39:04.890,1,2024-06-22 13:39:04.890,2024.0,22.0,6.0,2024,6
3,-9222983717532481599,2384243086752300117,NaN,eloqua,email_send,communication,2024-06-24 15:54:37.140,0,2024-06-24 15:54:37.140,2024.0,24.0,6.0,2024,6
4,-9222983717532481599,-9069774296898499310,seahawks,yinzcam,page_view,app,2024-06-24 21:19:51.000,1,2024-06-24 21:19:51.000,2024.0,24.0,6.0,2024,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182630,9217945570544551573,1238645707408728524,NaN,eloqua,email_send,communication,2023-05-13 15:05:31.763,0,2023-05-13 15:05:31.763,2023.0,13.0,5.0,2023,5
182631,9217945570544551573,-1187098542325161413,NaN,eloqua,email_send,communication,2023-05-15 20:30:32.787,0,2023-05-15 20:30:32.787,2023.0,15.0,5.0,2023,5
182632,9217945570544551573,-7549676898881508477,NaN,eloqua,email_send,communication,2023-05-18 19:32:41.603,0,2023-05-18 19:32:41.603,2023.0,18.0,5.0,2023,5
182633,9217945570544551573,5044529107454706468,NaN,eloqua,email_send,communication,2023-05-23 19:00:42.363,0,2023-05-23 19:00:42.363,2023.0,23.0,5.0,2023,5
182634,9217945570544551573,855122110868817415,NaN,eloqua,email_send,communication,2023-05-23 20:43:34.477,0,2023-05-23 20:43:34.477,2023.0,23.0,5.0,2023,5

In [404]:
non_sth_df

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY,Date,Year,Day,Month,year,month
0,-9222983717532481599,-6935088038166308511,NaN,eloqua,email_send,communication,2022-06-03 15:01:03.547,0,2022-06-03 15:01:03.547,2022.0,3.0,6.0,2022,6
1,-9222983717532481599,-9067414166490049194,NaN,eloqua,email_send,communication,2022-06-16 17:50:22.727,0,2022-06-16 17:50:22.727,2022.0,16.0,6.0,2022,6
2,-9222983717532481599,3968102127955144008,NaN,eloqua,email_send,communication,2022-06-29 13:07:19.283,0,2022-06-29 13:07:19.283,2022.0,29.0,6.0,2022,6
3,-9222983717532481599,-5464363847846077523,NaN,eloqua,email_send,communication,2022-07-01 14:19:39.640,0,2022-07-01 14:19:39.640,2022.0,1.0,7.0,2022,7
4,-9222983717532481599,4475977504872749914,NaN,eloqua,email_send,communication,2022-07-07 21:06:29.890,0,2022-07-07 21:06:29.890,2022.0,7.0,7.0,2022,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451602,9222884040671659833,2291151737235421361,NaN,eloqua,email_send,communication,2024-07-17 19:38:14.433,0,2024-07-17 19:38:14.433,2024.0,17.0,7.0,2024,7
3451603,9222884040671659833,359928880898755986,NaN,eloqua,email_send,communication,2024-07-26 17:15:09.043,0,2024-07-26 17:15:09.043,2024.0,26.0,7.0,2024,7
3451604,9222884040671659833,-8816652192943138490,NaN,eloqua,email_send,communication,2024-09-06 20:30:14.527,0,2024-09-06 20:30:14.527,2024.0,6.0,9.0,2024,9
3451605,9222884040671659833,1244853398808975374,NaN,eloqua,email_send,communication,2024-10-03 14:03:20.633,0,2024-10-03 14:03:20.633,2024.0,3.0,10.0,2024,10
3451606,9222884040671659833,-8458898346496478614,NaN,eloqua,email_send,communication,2024-10-14 18:22:53.093,0,2024-10-14 18:22:53.093,2024.0,14.0,10.0,2024,10