# Importing data
- STNL
- BP
- STH

### STNL READ DATA

In [2]:
import pandas as pd
import numpy as np

stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_1.csv")
stnl2 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_2.csv")
stnl3 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_3.csv")
stnl4 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_4.csv")

stnl = pd.concat([stnl1, stnl2, stnl3, stnl4], ignore_index=True)

#print(stnl.info())

stnl_as = stnl['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
stnl_ac = stnl['ACTIVITY_CODE'].value_counts(normalize=True) * 100
stnl_at = stnl['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
stnl_en = stnl['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
stnl_descibe = [stnl_as, stnl_ac, stnl_at, stnl_en]

stnl.head()

/var/folders/jl/kkh608tn0k194f6cv0bwbqp80000gn/T/ipykernel_1327/155344351.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_1.csv")

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-7867354998288837896,-3383110370224525131,NaN,archtics,initial_creation,creation,1978-12-28 00:00:00.000,1
1,832276829427199671,6424539283541568916,NaN,archtics,initial_creation,creation,1996-04-24 00:00:00.000,1
2,-5929530350986210258,-3066267559221806144,NaN,archtics,initial_creation,creation,1996-08-20 00:00:00.000,1
3,-557098195255817479,8999280564714116794,NaN,archtics,initial_creation,creation,1997-05-21 00:00:00.000,1
4,3137729073597852352,3930684364942998844,NaN,archtics,initial_creation,creation,1997-07-01 00:00:00.000,1

### BP DATA READ

In [3]:
bp = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/bp_activity_subset.csv")

bp_as = bp['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
bp_ac = bp['ACTIVITY_CODE'].value_counts(normalize=True) * 100
bp_at = bp['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
bp_en = bp['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
bp_descibe = [bp_as, bp_ac, bp_at, bp_en]

bp.head()

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-2088124723136293548,5252390080279049842,NaN,eloqua,email_send,communication,2021-02-26 16:33:34.713,0
1,-5997344962422788013,8553702703836864021,NaN,eloqua,email_open,communication,2022-06-29 13:47:02.463,1
2,2973744567285576436,-565456178486986963,NaN,eloqua,email_send,communication,2024-02-01 18:33:40.660,0
3,-8049469528423341279,-2844208646395546819,NaN,eloqua,email_open,communication,2022-09-12 12:50:59.550,1
4,-1851214656565067897,8051370473805188285,NaN,eloqua,email_open,communication,2019-12-05 21:31:36.860,1

### STH DATA READ

In [4]:
sth = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/new_sth_subset.csv")

sth_as = sth['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
sth_ac = sth['ACTIVITY_CODE'].value_counts(normalize=True) * 100
sth_at = sth['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
sth_en = sth['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
sth_descibe = [sth_as, sth_ac, sth_at, sth_en]

sth.head()

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-8823143030947066599,6595897474716861939,seahawks,yinzcam,page_view,app,2024-01-07 19:17:39.000,1
1,-6483971988094031572,-3435164621965462671,seahawks,yinzcam,page_view,app,2024-01-05 01:22:25.000,1
2,-7727440583793414975,2788965033642439068,NaN,eloqua,email_send,communication,2020-09-09 15:00:11.003,0
3,906505079772058549,-1605541657504474771,NaN,eloqua,email_open,communication,2022-04-23 21:44:48.770,1
4,-2585587656764190616,-3403294037294615329,seahawks,yinzcam,page_view,app,2024-11-24 20:48:15.000,1

# Preliminary Data Exploration

### PERCENTAGE COMPARISON

In [5]:
activity_source_comparison = pd.DataFrame({
    'sth (%)': sth_as.round(2),
    'bp (%)': bp_as.round(2),
    'stnl (%)': stnl_as.round(2)
}).fillna(0)

activity_code_comparison = pd.DataFrame({
    'sth (%)': sth_ac.round(2),
    'bp (%)': bp_ac.round(2),
    'stnl (%)': stnl_ac.round(2)
}).fillna(0)

activity_type_comparison = pd.DataFrame({
    'sth (%)': sth_at.round(2),
    'bp (%)': bp_at.round(2),
    'stnl (%)': stnl_at.round(2)
}).fillna(0)

engagement_comparison = pd.DataFrame({
    'sth (%)': sth_en.round(2),
    'bp (%)': bp_en.round(2),
    'stnl (%)': stnl_en.round(2)
}).fillna(0)

print("Activity Source Comparison:")
display(activity_source_comparison)

print("\nActivity Code Comparison:")
display(activity_code_comparison)

print("\nActivity Type Comparison:")
display(activity_type_comparison)

print("\nEngagement Comparison:")
display(engagement_comparison)

# Optionally, save them to CSV files
#activity_source_comparison.to_csv("activity_source_comparison.csv")
#activity_code_comparison.to_csv("activity_code_comparison.csv")
#activity_type_comparison.to_csv("activity_type_comparison.csv")

Activity Source Comparison:

                 sth (%)  bp (%)  stnl (%)
ACTIVITY_SOURCE
archtics            3.70    2.10      2.78
dynamics            0.73    0.33      0.42
eloqua             74.33   91.10     89.07
fanatics            0.12    0.13      0.18
formstack           0.15    0.17      0.34
qualtrics           0.02    0.01      0.01
typeform            0.09    0.04      0.01
yinzcam            20.86    6.13      7.20

Activity Code Comparison:

                                  sth (%)  bp (%)  stnl (%)
ACTIVITY_CODE
attend                               1.73    0.95      1.17
email_click                          2.92    2.35      1.71
email_incoming_from_customer         0.30    0.10      0.05
email_open                          26.78   30.56     22.79
email_outgoing_to_customer           0.29    0.09      0.05
email_send                          44.45   57.90     63.96
email_sub                            0.09    0.14      0.28
email_unsub                          0.01    0.02      0.03
form_submission                      0.24    0.21      0.35
forward_receipt                      0.00    0.00      0.01
forward_received                     0.22    0.30      0.37
forward_send                         0.89    0.27      0.27
initial_creation                     0.38    0.50      1.03
merch_purchase                       0.10    0.11      0.14
page_view                           20.75    6.06      7.13
phonecall_incoming_from_customer     0.00    0.00      0.00
phonecall_outgoing_to_customer       0.00    0.00      0.00
primary_purchase_club                0.03    0.08      0.17
primary_purchase_ga                  0.01    0.01      0.01
primary_purchase_single              0.07    0.12      0.23
primary_purchase_sth                 0.16    0.04      0.02
primary_purchase_suite               0.01    0.00      0.00
secondary_purchase                   0.05    0.08      0.14
secondary_sale                       0.45    0.11      0.08
survey_submission                    0.02    0.01      0.01
text_incoming_from_customer          0.02    0.00      0.00
text_outgoing_to_customer            0.02    0.00      0.00

Activity Type Comparison:

               sth (%)  bp (%)  stnl (%)
ACTIVITY_TYPE
app              20.75    6.06      7.13
attend            1.73    0.95      1.17
communication    75.15   91.37     89.23
creation          0.38    0.50      1.03
forward           1.11    0.57      0.64
purchase          0.42    0.43      0.72
resale            0.45    0.11      0.08

Engagement Comparison:

                        sth (%)  bp (%)  stnl (%)
IS_ENGAGEMENT_ACTIVITY
0                         46.11   58.39      64.4
1                         53.89   41.61      35.6

### EMAIL OPEN ENGAGEMENT
- found is always zero

In [6]:
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_email_open = stnl_comms[stnl_comms["ACTIVITY_CODE"] == "email_open"]
stnl_email_open['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100

IS_ENGAGEMENT_ACTIVITY
1    100.0
Name: proportion, dtype: float64

### HOW SOURCES TRACK ENGAGEMENT

In [7]:
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

one_zero_as = pd.DataFrame({
    '1-stnl': one1.round(2),
    '0-stnl': zero1.round(2),
    '1-bp': one2.round(2),
    '0-bp': zero2.round(2),
    '1-sth': one3.round(2),
    '0-sth': zero3.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts()

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_SOURCE"].value_counts()

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_SOURCE"].value_counts()

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_SOURCE"].value_counts()

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_SOURCE"].value_counts()

one_zero_as_counts = pd.DataFrame({
    '1-stnl': one1,
    '0-stnl': zero1,
    '1-bp': one2,
    '0-bp': zero2,
    '1-sth': one3,
    '0-sth': zero3
}).fillna(0)
one_zero_as_counts = one_zero_as_counts.astype(int).map(lambda x: f"{x:,}")
one_zero_as_counts = one_zero_as_counts.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(one_zero_as)
print('COUNTS')
display(one_zero_as_counts)

PERCENT

                 1-stnl  0-stnl   1-bp   0-bp  1-sth  0-sth
ACTIVITY_SOURCE
archtics           6.81    0.55   4.12   0.65   4.38   2.91
dynamics           1.01    0.09   0.56   0.16   0.77   0.67
eloqua            70.46   99.37  79.75  99.19  55.44  96.42
fanatics           0.49    0.00   0.30   0.00   0.22   0.00
formstack          0.96    0.00   0.42   0.00   0.28   0.00
qualtrics          0.02    0.00   0.03   0.00   0.04   0.00
typeform           0.02    0.00   0.09   0.00   0.17   0.00
yinzcam           20.22    0.00  14.73   0.00  38.70   0.00

COUNTS

### HOW EACH CODE ENGAGES
- showing us each is a zero or one

In [82]:
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero = stnl_zero_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one = stnl_one_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_zero_ac = pd.DataFrame({
    '1': one,
    '0': zero
}).fillna(0)

stnl_one_zero_ac

                                         1          0
ACTIVITY_CODE
attend                             45530.0        0.0
email_click                        66642.0        0.0
email_incoming_from_customer        1925.0        0.0
email_open                        890396.0        0.0
email_outgoing_to_customer             0.0     2053.0
email_send                             0.0  2499025.0
email_sub                          10960.0        0.0
email_unsub                            0.0     1248.0
form_submission                    13630.0        0.0
forward_receipt                      373.0        0.0
forward_received                   14282.0        0.0
forward_send                           0.0    10499.0
initial_creation                   40128.0        0.0
merch_purchase                      5552.0        0.0
page_view                         278751.0        0.0
phonecall_incoming_from_customer      14.0        0.0
phonecall_outgoing_to_customer         0.0       39.0
primary_purchase_club               6797.0        0.0
primary_purchase_ga                  428.0        0.0
primary_purchase_single             8866.0        0.0
primary_purchase_sth                 915.0        0.0
primary_purchase_suite                26.0        0.0
secondary_purchase                  5567.0        0.0
secondary_sale                         0.0     3299.0
survey_submission                    245.0        0.0
text_incoming_from_customer          108.0        0.0
text_outgoing_to_customer              0.0       73.0

### HOW EACH TYPE ENGAGES
- shows us stnl acctually use app a lot as well.

In [9]:
#PERCENT
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

one_zero_at = pd.DataFrame({
    '1-stnl': one1.round(2),
    '0-stnl': zero1.round(2),
    '1-bp': one2.round(2),
    '0-bp': zero2.round(2),
    '1-sth': one3.round(2),
    '0-sth': zero3.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_TYPE"].value_counts()

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_TYPE"].value_counts()

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_TYPE"].value_counts()

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_TYPE"].value_counts()

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_TYPE"].value_counts()

one_zero_at_counts = pd.DataFrame({
    '1-stnl': one1,
    '0-stnl': zero1,
    '1-bp': one2,
    '0-bp': zero2,
    '1-sth': one3,
    '0-sth': zero3
}).fillna(0)
one_zero_at_counts = one_zero_at_counts.astype(int).map(lambda x: f"{x:,}")
one_zero_at_counts = one_zero_at_counts.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(one_zero_at)
print('COUNTS')
display(one_zero_at_counts)

PERCENT

               1-stnl  0-stnl   1-bp   0-bp  1-sth  0-sth
ACTIVITY_TYPE
app             20.04    0.00  14.57   0.00  38.51   0.00
attend           3.27    0.00   2.29   0.00   3.21   0.00
communication   70.73   99.45  80.17  99.35  56.37  97.09
creation         2.88    0.00   1.20   0.00   0.71   0.00
forward          1.05    0.42   0.73   0.46   0.42   1.92
purchase         2.02    0.00   1.03   0.00   0.78   0.00
resale           0.00    0.13   0.00   0.19   0.00   0.99

COUNTS

### Looking at only communication

In [10]:
#PERCENT
#stnl
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_comms_per = stnl_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#bp
bp_comms = bp[bp["ACTIVITY_TYPE"] == "communication"]
bp_comms_per = bp_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#sth
sth_comms = sth[sth["ACTIVITY_TYPE"] == "communication"]
sth_comms_per = sth_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

comms_percent = pd.DataFrame({
    'stnl': stnl_comms_per.round(2),
    'bp': bp_comms_per.round(2),
    'sth': sth_comms_per.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_comms_counts = stnl_comms["ACTIVITY_CODE"].value_counts()

#bp
bp_comms = bp[bp["ACTIVITY_TYPE"] == "communication"]
bp_comms_counts = bp_comms["ACTIVITY_CODE"].value_counts()

#sth
sth_comms = sth[sth["ACTIVITY_TYPE"] == "communication"]
sth_comms_counts = sth_comms["ACTIVITY_CODE"].value_counts()

comms_count = pd.DataFrame({
    'stnl': stnl_comms_counts,
    'bp': bp_comms_counts,
    'sth': sth_comms_counts
}).fillna(0)
comms_count = comms_count.astype(int).map(lambda x: f"{x:,}")
comms_count = comms_count.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(comms_percent)
print('COUNTS')
display(comms_count)
print("Email Conversion:\nstnl:", round(890396 / 2499025, 4), 
      "\nbp:", round(341020 / 646257, 4), 
      "\nsth:", round(159118 / 264080, 4))

PERCENT

                                   stnl     bp    sth
ACTIVITY_CODE
email_click                        1.91   2.57   3.89
email_incoming_from_customer       0.06   0.10   0.40
email_open                        25.54  33.44  35.64
email_outgoing_to_customer         0.06   0.10   0.38
email_send                        71.68  63.37  59.15
email_sub                          0.31   0.15   0.11
email_unsub                        0.04   0.02   0.01
form_submission                    0.39   0.23   0.32
phonecall_incoming_from_customer   0.00   0.00   0.00
phonecall_outgoing_to_customer     0.00   0.00   0.01
survey_submission                  0.01   0.01   0.03
text_incoming_from_customer        0.00   0.00   0.03
text_outgoing_to_customer          0.00   0.00   0.02

COUNTS

Email Conversion:
stnl: 0.3563
bp: 0.5277
sth: 0.6025

### Looking only at archtics

In [11]:
#PERCENT
#stnl
stnl_archtics = stnl[stnl["ACTIVITY_SOURCE"] == "archtics"]
stnl_archtics_per = stnl_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#bp
bp_archtics = bp[bp["ACTIVITY_SOURCE"] == "archtics"]
bp_archtics_per = bp_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#sth
sth_archtics = sth[sth["ACTIVITY_SOURCE"] == "archtics"]
sth_archtics_per = sth_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

archtics_percent = pd.DataFrame({
    'stnl': stnl_archtics_per.round(2),
    'bp': bp_archtics_per.round(2),
    'sth': sth_archtics_per.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_archtics = stnl[stnl["ACTIVITY_SOURCE"] == "archtics"]
stnl_archtics_counts = stnl_archtics["ACTIVITY_CODE"].value_counts()

#bp
bp_archtics = bp[bp["ACTIVITY_SOURCE"] == "archtics"]
bp_archtics_counts = bp_archtics["ACTIVITY_CODE"].value_counts()

#sth
sth_archtics = sth[sth["ACTIVITY_SOURCE"] == "archtics"]
sth_archtics_counts = sth_archtics["ACTIVITY_CODE"].value_counts()

archtics_count = pd.DataFrame({
    'stnl': stnl_archtics_counts,
    'bp': bp_archtics_counts,
    'sth': sth_archtics_counts
}).fillna(0)
archtics_count = archtics_count.astype(int).map(lambda x: f"{x:,}")
archtics_count = archtics_count.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(archtics_percent)
print('COUNTS')
display(archtics_count)

PERCENT

                          stnl     bp    sth
ACTIVITY_CODE
attend                   41.93  45.56  46.70
forward_receipt           0.34   0.23   0.10
forward_received         13.15  14.23   5.94
forward_send              9.67  12.74  23.96
initial_creation         11.05   6.41   2.27
primary_purchase_club     6.26   3.89   0.86
primary_purchase_ga       0.39   0.43   0.16
primary_purchase_single   8.17   5.79   1.82
primary_purchase_sth      0.84   1.69   4.32
primary_purchase_suite    0.02   0.02   0.23
secondary_purchase        5.13   3.65   1.36
secondary_sale            3.04   5.35  12.27

COUNTS

### Some cases
- Customers dont overlap

In [92]:
sth_member1 = sth[sth["CUSTOMER_KEY"] == -8823143030947066599]
sth_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-8823143030947066599,6595897474716861939,seahawks,yinzcam,page_view,app,2024-01-07 19:17:39.000,1
106,-8823143030947066599,-3844313287896419522,NaN,eloqua,email_send,communication,2022-10-24 16:36:21.670,0
559,-8823143030947066599,-5168370295813655316,seahawks,yinzcam,page_view,app,2023-09-23 04:58:06.000,1
685,-8823143030947066599,1307622683966494393,seahawks,yinzcam,page_view,app,2024-10-05 22:07:49.000,1
1345,-8823143030947066599,-5439968034497520245,NaN,eloqua,email_open,communication,2021-11-23 20:14:53.040,1
...,...,...,...,...,...,...,...,...
592245,-8823143030947066599,-7702253097365253898,seahawks,yinzcam,page_view,app,2024-11-04 00:56:51.000,1
592384,-8823143030947066599,-1843041541880059070,NaN,eloqua,email_send,communication,2022-06-22 15:46:01.200,0
592690,-8823143030947066599,-2902078227461106619,NaN,eloqua,email_send,communication,2020-09-22 19:11:56.667,0
593371,-8823143030947066599,-4947692070266265986,NaN,eloqua,email_send,communication,2018-04-23 16:03:49.873,0
593769,-8823143030947066599,8585777266841184034,NaN,eloqua,email_click,communication,2023-06-12 16:15:18.377,1

In [13]:
bp_member1 = bp[bp["CUSTOMER_KEY"] == -2088124723136293548]
bp_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-2088124723136293548,5252390080279049842,NaN,eloqua,email_send,communication,2021-02-26 16:33:34.713,0
67,-2088124723136293548,-8924500597732813599,NaN,eloqua,email_send,communication,2021-07-12 17:00:51.087,0
1119,-2088124723136293548,6862624063592193442,NaN,eloqua,email_open,communication,2017-05-06 12:17:37.157,1
2344,-2088124723136293548,818271760477309340,NaN,eloqua,email_send,communication,2018-12-07 17:37:00.773,0
2891,-2088124723136293548,8282172426501286610,NaN,eloqua,email_send,communication,2019-03-01 13:02:06.850,0
...,...,...,...,...,...,...,...,...
1115059,-2088124723136293548,-1464262309263384400,NaN,eloqua,email_send,communication,2022-10-11 21:02:46.863,0
1115451,-2088124723136293548,3039069659399557326,NaN,eloqua,email_send,communication,2021-04-27 21:29:53.647,0
1115644,-2088124723136293548,-2308681292663756694,NaN,eloqua,email_send,communication,2023-07-31 19:25:13.377,0
1115753,-2088124723136293548,9220230196487015768,NaN,eloqua,email_open,communication,2021-11-09 01:30:00.837,1
1115850,-2088124723136293548,-7719541292943807324,NaN,eloqua,email_send,communication,2024-05-09 18:04:03.007,0

In [104]:
stnl_member1 = stnl[stnl["CUSTOMER_KEY"] == 3137729073597852352]
stnl_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
4,3137729073597852352,3930684364942998844,NaN,archtics,initial_creation,creation,1997-07-01 00:00:00.000,1
5605,3137729073597852352,8891906664006615596,NaN,eloqua,email_sub,communication,2016-06-07 19:56:56.617,1
8855,3137729073597852352,-3951634292667786230,NaN,eloqua,initial_creation,creation,2016-06-08 18:51:54.967,1
14158,3137729073597852352,2933735291332593189,NaN,eloqua,email_send,communication,2017-03-01 13:12:18.140,0
15399,3137729073597852352,-7402128260963902061,NaN,eloqua,email_send,communication,2017-03-02 20:38:22.320,0
...,...,...,...,...,...,...,...,...
3891042,3137729073597852352,-3749448941914883039,NaN,eloqua,email_send,communication,2024-12-06 13:03:28.207,0
3893420,3137729073597852352,-8482055111273207402,NaN,eloqua,email_send,communication,2024-12-06 18:06:05.770,0
3904645,3137729073597852352,8151162109134848567,NaN,eloqua,email_send,communication,2024-12-10 16:03:20.937,0
3906604,3137729073597852352,6785128644247647033,NaN,eloqua,email_open,communication,2024-12-10 18:51:37.700,1
3906605,3137729073597852352,-3310259186766285128,NaN,eloqua,email_open,communication,2024-12-10 18:51:41.307,1

# Functions and First attempt data cleaning

### Filter out multiple page views in a row

In [ ]:
stnl['Date'] = pd.to_datetime(stnl['ACTIVITY_DATETIME'])
stnl_date_sorted = stnl.sort_values(by=['CUSTOMER_KEY','Date'])

def remove_consecutive_page_views(stnl):
    # Sort the dataframe by ID and Date
    stnl = stnl.sort_values(by=['CUSTOMER_KEY', 'Date'])

    # Create an empty list to store the rows to keep
    rows_to_keep = []

    # Initialize previous_activity_code and prev_id to None to start the comparison
    prev_activity_code = None
    prev_id = None

    # Iterate through each row in the DataFrame
    for index, row in stnl.iterrows():
        # Check if the current row's ID is different from the previous one
        if row['CUSTOMER_KEY'] != prev_id:
            # If the ID changes, reset the previous activity code to None
            prev_activity_code = None

        # Only remove consecutive 'page_view' rows
        if row['ACTIVITY_CODE'] == 'page_view' and row['ACTIVITY_CODE'] == prev_activity_code:
            # Skip this row if it's a consecutive 'page_view'
            continue
        else:
            # Keep the row
            rows_to_keep.append(row)

        # Update the previous values for the next iteration
        prev_id = row['CUSTOMER_KEY']
        prev_activity_code = row['ACTIVITY_CODE']

    # Convert the list of rows to a DataFrame
    stnl_filtered = pd.DataFrame(rows_to_keep)

    return stnl_filtered

### Gets percent of each activity code for each customer in a data frame for selected activities
- LOB Seahawks 
- LOB fgi
- email_click
- email unsub
- form submission
- forward received/send
- merch purchase
- page_view
- primary purchase club/ga/single/sth/suite
- secondary purchase/sale
- survey_submission

In [191]:
def transform_data_AC(df):
    # Create a copy to manipulate
    df_copy = df.copy()

    # Make dummy variables for LOB only counting non NaNs
    df_copy['LOB_SEAHAWKS'] = df_copy['LINE_OF_BUSINESS'] == "seahawks"
    df_copy['LOB_FGI'] = df_copy['LINE_OF_BUSINESS'] == "fgi"
    
    # Drop unneeded columns
    df_dropped = df_copy.drop(columns=['CUSTOMER_ACTIVITY_KEY', 'ACTIVITY_SOURCE', 'ACTIVITY_TYPE', 'ACTIVITY_DATETIME', 
                                       'LINE_OF_BUSINESS','IS_ENGAGEMENT_ACTIVITY','Date'])

    # Store Campaign Lost if applicable
    lost = False
    if "CAMPAIGN_LOST" in df_dropped.columns:
        lost = True
        lost_column = df_dropped[["CUSTOMER_KEY", "CAMPAIGN_LOST"]].drop_duplicates(subset=["CUSTOMER_KEY"], keep="first")
        df_dropped = df_dropped.drop(columns=["CAMPAIGN_LOST"])
    
    # Choose activities to remove and filter out
    bad_Activities = ["email_send", "email_open", "email_sub", "email_incoming_from_customer", "email_outgoing_to_customer", 
                      "initial_creation", "forward_receipt", "phonecall_incoming_from_customer", "phonecall_outgoing_to_customer",
                      "text_incoming_from_customer", "text_outgoing_to_customer"]
    df_filtered = df_dropped[~df_dropped['ACTIVITY_CODE'].isin(bad_Activities)]
    
    # Create dummy variables for ACTIVITY_CODE into 1's and 0's
    df_dummy_code = pd.get_dummies(df_filtered, columns=['ACTIVITY_CODE'], drop_first=True)
    df_dummy_code = df_dummy_code.astype(int)
    
    # Group by CUSTOMER_KEY and sum unique activity codes
    df_grouped = df_dummy_code.groupby('CUSTOMER_KEY').sum()

    # Divide the summed values by the Row_Count for each customer to standardize
    row_counts = df_dummy_code.groupby('CUSTOMER_KEY').size()
    df_grouped = df_grouped.div(row_counts, axis=0)

    # Add Campaign lost if was stored
    if lost == True:
        df_grouped = df_grouped.merge(lost_column, on="CUSTOMER_KEY", how="left")

    # relable rows to make an ID number
    df_grouped['ID'] = range(len(df_grouped))

    
    return df_grouped

### Clean all data with new functions
 *process* 
- Sort activities by customer with activities in chronological order
- Take our multiple page views with remove_consecutive_page_views
- Clean data based on our function transform_data_AC

### Stnl

In [ ]:
stnl['Date'] = pd.to_datetime(stnl['ACTIVITY_DATETIME'])
stnl_date_sorted = stnl.sort_values(by=['CUSTOMER_KEY','Date'])

stnl_filtered = remove_consecutive_page_views(stnl)
stnl_filtered

In [ ]:
stnl_clean = transform_data_AC(stnl_filtered)

stnl_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/stnl_clean.csv", index=False)

stnl_clean

### Bp

In [ ]:
bp['Date'] = pd.to_datetime(bp['ACTIVITY_DATETIME'])
bp_date_sorted = bp.sort_values(by=['CUSTOMER_KEY','Date'])

bp_filtered = remove_consecutive_page_views(bp)
bp_filtered

In [ ]:
bp_clean = transform_data_AC(bp_filtered)

bp_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/bp_clean.csv", index=False)

bp_clean

### Sth

In [ ]:
sth['Date'] = pd.to_datetime(sth['ACTIVITY_DATETIME'])
sth_date_sorted = sth.sort_values(by=['CUSTOMER_KEY','Date'])

sth_filtered = remove_consecutive_page_views(sth)
sth_filtered

In [ ]:
sth_clean = transform_data_AC(sth_filtered)

sth_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/sth_clean.csv", index=False)

sth_clean

# Do same with lost data
### lost data 1

In [180]:
lost1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_1.csv")

In [ ]:
lost1['Date'] = pd.to_datetime(lost1['ACTIVITY_DATETIME'])
lost1_date_sorted = lost1.sort_values(by=['CUSTOMER_KEY','Date'])

lost1_filtered = remove_consecutive_page_views(lost1)
lost1_filtered

In [ ]:
lost1_clean = transform_data_AC(lost1_filtered)

lost1_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost1_clean.csv", index=False)

lost1_clean

### lost data 2

In [193]:
lost2 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_2.csv")

In [ ]:
lost2['Date'] = pd.to_datetime(lost2['ACTIVITY_DATETIME'])
lost2_date_sorted = lost2.sort_values(by=['CUSTOMER_KEY','Date'])

lost2_filtered = remove_consecutive_page_views(lost2)
lost2_filtered

In [ ]:
lost2_clean = transform_data_AC(lost2_filtered)

lost2_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost2_clean.csv", index=False)

lost2_clean

### lost data 3

In [200]:
lost3 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_3.csv")

In [ ]:
lost3['Date'] = pd.to_datetime(lost3['ACTIVITY_DATETIME'])
lost3_date_sorted = lost3.sort_values(by=['CUSTOMER_KEY','Date'])

lost3_filtered = remove_consecutive_page_views(lost3)
lost3_filtered

In [ ]:
lost3_clean = transform_data_AC(lost3_filtered)

lost3_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost3_clean.csv", index=False)

lost3_clean

### lost data 4

In [204]:
lost4 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_4.csv")

In [ ]:
lost4['Date'] = pd.to_datetime(lost4['ACTIVITY_DATETIME'])
lost4_date_sorted = lost4.sort_values(by=['CUSTOMER_KEY','Date'])

lost4_filtered = remove_consecutive_page_views(lost4)
lost4_filtered

In [ ]:
lost4_clean = transform_data_AC(lost4_filtered)

lost4_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanDataPrelim/lost4_clean.csv", index=False)

lost4_clean

### lost data 5

In [207]:
lost5 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/lostData/lost_stnl_and_bp_activity_subset_5.csv")

In [208]:
lost5['Date'] = pd.to_datetime(lost5['ACTIVITY_DATETIME'])
lost5_date_sorted = lost5.sort_values(by=['CUSTOMER_KEY','Date'])

lost5_filtered = remove_consecutive_page_views(lost5)
lost5_filtered

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY,CAMPAIGN_LOST,Date
93258,-9222442665376300000,7476465536873640098,NaN,eloqua,email_send,communication,2017-04-19 19:30:58.907,0,STNL to BP,2017-04-19 19:30:58.907
301948,-9222442665376300000,8324975512738735742,NaN,eloqua,email_open,communication,2017-06-14 11:19:15.570,1,STNL to BP,2017-06-14 11:19:15.570
347662,-9222442665376300000,8511626047957805068,NaN,eloqua,email_send,communication,2017-06-15 22:27:14.767,0,STNL to BP,2017-06-15 22:27:14.767
503180,-9222442665376300000,9145231929516622378,NaN,eloqua,email_send,communication,2017-06-26 19:32:33.353,0,STNL to BP,2017-06-26 19:32:33.353
179644,-9222442665376300000,7827007040340533696,NaN,eloqua,email_open,communication,2017-08-10 21:35:04.050,1,STNL to BP,2017-08-10 21:35:04.050
...,...,...,...,...,...,...,...,...,...,...
340740,9219378772361953631,8483601095192012731,NaN,eloqua,email_send,communication,2022-09-23 14:33:30.927,0,STNL to BP,2022-09-23 14:33:30.927
418139,9219378772361953631,8797971964154118309,NaN,eloqua,email_send,communication,2022-11-22 15:04:01.697,0,STNL to BP,2022-11-22 15:04:01.697
283039,9219378772361953631,8247392200419902181,NaN,eloqua,email_send,communication,2022-11-30 17:32:48.723,0,STNL to BP,2022-11-30 17:32:48.723
96278,9219378772361953631,7488627455041120588,NaN,eloqua,email_send,communication,2022-12-20 21:02:56.720,0,STNL to BP,2022-12-20 21:02:56.720
341594,9219378772361953631,8487079724049448247,NaN,eloqua,email_send,communication,2023-07-19 12:25:11.053,0,STNL to BP,2023-07-19 12:25:11.053

In [ ]:
lost5_clean = transform_data_AC(lost5_filtered)

lost5_clean.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB505HAWKS/data/cleanDataPrelim/lost5_clean.csv", index=False)

lost5_clean

# Regression model for finding best coefficients 
- Do by predicting engagement score based on parameters in activity code. Then will weight the coefficients to find most impactful.

In [65]:
# Setup
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet, Ridge
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
import sklearn as sk
from sklearn.compose import ColumnTransformer, make_column_selector

def find_coefficients(pipeline, X, y, top_n=8):
    """
    Fits a pipeline with linear regression, displays top features by coefficient magnitude.

    Parameters:
    pipeline (Pipeline): Scikit-learn pipeline with preprocessing and a linear regression model.
    X (DataFrame): Predictor variables.
    y (Series): Target variable.
    top_n (int): Number of top features to display based on coefficient magnitude.

    Returns:
    data frame of top_n best features 
    """
    # Fit the pipeline to the dataset
    pipeline.fit(X, y)

    # Extract the linear model from the pipeline
    model = pipeline.named_steps['regressor']
    
    # Get feature names and coefficients
    feature_names = pipeline.named_steps['preprocessor'].get_feature_names_out()
    coefficients = model.coef_

     # Create a DataFrame with feature names and coefficients
    coef_df = pd.DataFrame({
        'Feature': feature_names,
        'Coefficient': coefficients
    })
    
    # Sort the coefficients by absolute value in descending order
    coef_df['Abs_Coefficient'] = coef_df['Coefficient'].abs()
    coef_df = coef_df.sort_values(by='Abs_Coefficient', ascending=False)

    # Add weight for determining best features
    coef_df['Weight'] = [10 - i for i in range(len(coef_df))]
    
    # Get indices of features sorted by coefficient magnitude
    sorted_indices = np.argsort(np.abs(coefficients))[::-1]
    
    # Display top features by magnitude
    for i in sorted_indices[:top_n]:
        print(f"{feature_names[i]}: {coefficients[i]:.4f}")
    print("\n")
    
    return coef_df[["Feature", "Weight"]].head(10)

def estimate_mse(pipeline, X, y):
    """
    Estimates rMSE using cross-validation for a given pipeline.

    Parameters:
    pipeline (Pipeline): Scikit-learn pipeline with preprocessing and a linear regression model.
    X (DataFrame): Predictor variables.
    y (Series): Target variable.
    cv (int): Number of cross-validation folds.

    Returns:
    float: Cross-validated rMSE
    """
    # Perform cross-validation and calculate MSE
    mse_scores = cross_val_score(pipeline, X, y, cv=5, scoring='neg_mean_squared_error')
    cv_mse = -np.mean(mse_scores)  # Convert to positive MSE
    print(f"Estimated MSE: {cv_mse:,.2f}\n")
    return cv_mse

def tune_model(model_type, pipeline, X, y, param_grid):
    """
    Tunes a regularized regression model using GridSearchCV.

    Parameters:
    model_type (str): Type of regularized regression ('lasso', 'ridge', or 'elasticnet').
    pipeline (Pipeline): Scikit-learn pipeline with preprocessing.
    X (DataFrame): Predictor variables.
    y (Series): Target variable.
    param_grid (dict): Parameter grid for hyperparameter tuning.
    cv (int): Number of cross-validation folds.

    Returns:
    GridSearchCV: Fitted GridSearchCV object with the best parameters.
    """
    # Select the model based on the input parameter
    if model_type == 'lasso':
        model = Lasso()
    elif model_type == 'ridge':
        model = Ridge()
    elif model_type == 'elasticnet':
        model = ElasticNet()
    else:
        raise ValueError("Invalid model_type. Choose from 'lasso', 'ridge', or 'elasticnet'.")

    # Update the pipeline with the selected model
    pipeline.steps[-1] = ('regressor', model)

    # Set up GridSearchCV with the pipeline and the parameter grid
    grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='neg_mean_squared_error')
    
    # Fit the grid search
    grid_search.fit(X, y)
    
    # Display best parameters and corresponding MSE
    print(f"Best parameters for {grid_search.best_params_}")
    
    return grid_search

In [67]:
# Set up predictor and target variables to use for all models
X = stnl_clean.drop(columns=['IS_ENGAGEMENT_ACTIVITY'])
y = stnl_clean['IS_ENGAGEMENT_ACTIVITY']

# Set up ct to handle all variables in order to find best coefficients
ct = ColumnTransformer(
  [
    ("dummify", OneHotEncoder(sparse_output = False, handle_unknown='ignore'),make_column_selector(dtype_include=object)),
    ("standardize", StandardScaler(), make_column_selector(dtype_include=np.number))
  ],
  remainder = "passthrough"
)

pipeline_ols = Pipeline(steps=[
    ('preprocessor', ct),
    ('regressor', LinearRegression())
])
coef1 = find_coefficients(pipeline_ols, X, y, top_n=5)
mse1 = estimate_mse(pipeline_ols, X, y)

standardize__ACTIVITY_CODE_email_send: -0.2578
standardize__ACTIVITY_CODE_forward_send: -0.0134
standardize__ACTIVITY_CODE_email_unsub: -0.0095
standardize__ACTIVITY_CODE_secondary_sale: -0.0063
standardize__ACTIVITY_CODE_email_outgoing_to_customer: -0.0049


Estimated MSE: 0.00

In [68]:
# Ridge regression pipeline
pipeline_ridge = Pipeline(steps=[
    ('preprocessor', ct),
    ('regressor', Ridge())
])
# Define the parameter grid for Ridge regression
ridge_param_grid = {'regressor__alpha': [0.01, 0.1, 1, 10, 100, 200]}

# Tune the Ridge model
tuned_ridge = tune_model('ridge', pipeline_ridge, X, y, ridge_param_grid)
best_ridge = tuned_ridge.best_estimator_

coef2 = find_coefficients(best_ridge, X, y, top_n=5)
mse2 = estimate_mse(best_ridge, X, y)

Best parameters for {'regressor__alpha': 0.01}
standardize__ACTIVITY_CODE_email_send: -0.1521
standardize__ACTIVITY_CODE_initial_creation: 0.0651
standardize__ACTIVITY_CODE_email_open: 0.0636
standardize__LOB_SEAHAWKS: 0.0590
standardize__ACTIVITY_CODE_email_sub: 0.0213


Estimated MSE: 0.00

In [69]:
# LASSO regression pipeline
pipeline_lasso = Pipeline(steps=[
    ('preprocessor', ct),
    ('regressor', Lasso())
])
# Define the parameter grid for Ridge regression
lASSO_param_grid = {'regressor__alpha': [0.01, 0.1, 1, 10, 100]}

# Tune the Ridge model
tuned_LASSO = tune_model('lasso', pipeline_lasso, X, y, lASSO_param_grid)
best_LASSO = tuned_LASSO.best_estimator_

coef3 = find_coefficients(best_LASSO, X, y, top_n=5)
mse3 = estimate_mse(best_LASSO, X, y)

Best parameters for {'regressor__alpha': 0.01}
standardize__ACTIVITY_CODE_email_send: -0.2447
standardize__ACTIVITY_CODE_forward_send: -0.0031
standardize__ACTIVITY_CODE_text_outgoing_to_customer: -0.0000
standardize__ACTIVITY_CODE_text_incoming_from_customer: -0.0000
standardize__ACTIVITY_CODE_secondary_purchase: -0.0000


Estimated MSE: 0.00

In [70]:
# Elastic Net regression pipeline
pipeline_en = Pipeline(steps=[
    ('preprocessor', ct),
    ('regressor', ElasticNet())
])
# Define the parameter grid for Ridge regression
en_param_grid = {
    'regressor__alpha': [0.01, 0.1, 1, 10, 100],
    'regressor__l1_ratio': [0.1, 0.5, 0.7, 0.9, 1.0]
}

# Tune the Ridge model
tuned_en = tune_model('elasticnet', pipeline_en, X, y, en_param_grid)
best_en = tuned_en.best_estimator_

coef4 = find_coefficients(best_en, X, y, top_n=5)
mse4 = estimate_mse(best_en, X, y)

Best parameters for {'regressor__alpha': 0.01, 'regressor__l1_ratio': 0.1}
standardize__ACTIVITY_CODE_email_send: -0.1898
standardize__ACTIVITY_CODE_initial_creation: 0.0406
standardize__ACTIVITY_CODE_email_open: 0.0386
standardize__LOB_SEAHAWKS: 0.0361
standardize__ACTIVITY_CODE_email_sub: 0.0125


Estimated MSE: 0.00

In [73]:
coefficients = [coef1, coef2, coef3, coef4]

# Concatenate the DataFrames along rows (axis=0)
concatenated_df = pd.concat(coefficients, ignore_index=True)

# Group by 'Feature' and sum the 'Weight' values
grouped_df = concatenated_df.groupby('Feature', as_index=False)['Weight'].sum()

# Sort by the summed weights in descending order
grouped_df_sorted = grouped_df.sort_values(by='Weight', ascending=False)

# Print the sorted DataFrame
print(grouped_df_sorted)

                                              Feature  Weight
4               standardize__ACTIVITY_CODE_email_send      40
8             standardize__ACTIVITY_CODE_forward_send      28
2               standardize__ACTIVITY_CODE_email_open      23
14                          standardize__LOB_SEAHAWKS      22
9         standardize__ACTIVITY_CODE_initial_creation      21
0              standardize__ACTIVITY_CODE_email_click      16
5                standardize__ACTIVITY_CODE_email_sub      15
6              standardize__ACTIVITY_CODE_email_unsub      14
11          standardize__ACTIVITY_CODE_secondary_sale      12
3   standardize__ACTIVITY_CODE_email_outgoing_to_c...      10
1   standardize__ACTIVITY_CODE_email_incoming_from...       6
12  standardize__ACTIVITY_CODE_text_outgoing_to_cu...       5
10  standardize__ACTIVITY_CODE_phonecall_outgoing_...       4
13                               standardize__LOB_FGI       3
7          standardize__ACTIVITY_CODE_form_submission       1

### Now re-clean data to only include top 7.

In [84]:
stnl_clean3 = stnl_clean[["ACTIVITY_CODE_forward_send","LOB_SEAHAWKS","LOB_FGI", 'IS_ENGAGEMENT_ACTIVITY',
                         "ACTIVITY_CODE_initial_creation","ACTIVITY_CODE_email_click", "ACTIVITY_CODE_email_sub"]]

stnl_clean3

stnl_clean3.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanData/stnl_clean3.csv", index=False)

In [79]:
bp_clean2 = bp_clean[["ACTIVITY_CODE_forward_send","LOB_SEAHAWKS","LOB_FGI", 'IS_ENGAGEMENT_ACTIVITY'
                         "ACTIVITY_CODE_initial_creation","ACTIVITY_CODE_email_click", "ACTIVITY_CODE_email_sub"]]

bp_clean2

bp_clean2.to_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/cleanData/bp_clean2.csv", index=False)

#### Next steps, reevaluate which variables to use. Specifically no email sent and open since all customers get this. Also will want to create some new variables like avg games a year, number of ticket bought per game, something to relate with the time of activities, ect.