STNL DATA READ

In [2]:
import pandas as pd
import numpy as np

stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_1.csv")
stnl2 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_2.csv")
stnl3 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_3.csv")
stnl4 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_4.csv")

stnl = pd.concat([stnl1, stnl2, stnl3, stnl4], ignore_index=True)

#print(stnl.info())

stnl_as = stnl['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
stnl_ac = stnl['ACTIVITY_CODE'].value_counts(normalize=True) * 100
stnl_at = stnl['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
stnl_en = stnl['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
stnl_descibe = [stnl_as, stnl_ac, stnl_at, stnl_en]

stnl.head()

/var/folders/jl/kkh608tn0k194f6cv0bwbqp80000gn/T/ipykernel_1327/155344351.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_1.csv")

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-7867354998288837896,-3383110370224525131,NaN,archtics,initial_creation,creation,1978-12-28 00:00:00.000,1
1,832276829427199671,6424539283541568916,NaN,archtics,initial_creation,creation,1996-04-24 00:00:00.000,1
2,-5929530350986210258,-3066267559221806144,NaN,archtics,initial_creation,creation,1996-08-20 00:00:00.000,1
3,-557098195255817479,8999280564714116794,NaN,archtics,initial_creation,creation,1997-05-21 00:00:00.000,1
4,3137729073597852352,3930684364942998844,NaN,archtics,initial_creation,creation,1997-07-01 00:00:00.000,1

BP DATA READ

In [3]:
bp = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/bp_activity_subset.csv")

bp_as = bp['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
bp_ac = bp['ACTIVITY_CODE'].value_counts(normalize=True) * 100
bp_at = bp['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
bp_en = bp['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
bp_descibe = [bp_as, bp_ac, bp_at, bp_en]

bp.head()

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-2088124723136293548,5252390080279049842,NaN,eloqua,email_send,communication,2021-02-26 16:33:34.713,0
1,-5997344962422788013,8553702703836864021,NaN,eloqua,email_open,communication,2022-06-29 13:47:02.463,1
2,2973744567285576436,-565456178486986963,NaN,eloqua,email_send,communication,2024-02-01 18:33:40.660,0
3,-8049469528423341279,-2844208646395546819,NaN,eloqua,email_open,communication,2022-09-12 12:50:59.550,1
4,-1851214656565067897,8051370473805188285,NaN,eloqua,email_open,communication,2019-12-05 21:31:36.860,1

STH DATA READ

In [4]:
sth = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/new_sth_subset.csv")

sth_as = sth['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
sth_ac = sth['ACTIVITY_CODE'].value_counts(normalize=True) * 100
sth_at = sth['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
sth_en = sth['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
sth_descibe = [sth_as, sth_ac, sth_at, sth_en]

sth.head()

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-8823143030947066599,6595897474716861939,seahawks,yinzcam,page_view,app,2024-01-07 19:17:39.000,1
1,-6483971988094031572,-3435164621965462671,seahawks,yinzcam,page_view,app,2024-01-05 01:22:25.000,1
2,-7727440583793414975,2788965033642439068,NaN,eloqua,email_send,communication,2020-09-09 15:00:11.003,0
3,906505079772058549,-1605541657504474771,NaN,eloqua,email_open,communication,2022-04-23 21:44:48.770,1
4,-2585587656764190616,-3403294037294615329,seahawks,yinzcam,page_view,app,2024-11-24 20:48:15.000,1

PERCENTAGE COMPARISON

In [5]:
activity_source_comparison = pd.DataFrame({
    'sth (%)': sth_as.round(2),
    'bp (%)': bp_as.round(2),
    'stnl (%)': stnl_as.round(2)
}).fillna(0)

activity_code_comparison = pd.DataFrame({
    'sth (%)': sth_ac.round(2),
    'bp (%)': bp_ac.round(2),
    'stnl (%)': stnl_ac.round(2)
}).fillna(0)

activity_type_comparison = pd.DataFrame({
    'sth (%)': sth_at.round(2),
    'bp (%)': bp_at.round(2),
    'stnl (%)': stnl_at.round(2)
}).fillna(0)

engagement_comparison = pd.DataFrame({
    'sth (%)': sth_en.round(2),
    'bp (%)': bp_en.round(2),
    'stnl (%)': stnl_en.round(2)
}).fillna(0)

print("Activity Source Comparison:")
display(activity_source_comparison)

print("\nActivity Code Comparison:")
display(activity_code_comparison)

print("\nActivity Type Comparison:")
display(activity_type_comparison)

print("\nEngagement Comparison:")
display(engagement_comparison)

# Optionally, save them to CSV files
#activity_source_comparison.to_csv("activity_source_comparison.csv")
#activity_code_comparison.to_csv("activity_code_comparison.csv")
#activity_type_comparison.to_csv("activity_type_comparison.csv")

Activity Source Comparison:

                 sth (%)  bp (%)  stnl (%)
ACTIVITY_SOURCE
archtics            3.70    2.10      2.78
dynamics            0.73    0.33      0.42
eloqua             74.33   91.10     89.07
fanatics            0.12    0.13      0.18
formstack           0.15    0.17      0.34
qualtrics           0.02    0.01      0.01
typeform            0.09    0.04      0.01
yinzcam            20.86    6.13      7.20

Activity Code Comparison:

                                  sth (%)  bp (%)  stnl (%)
ACTIVITY_CODE
attend                               1.73    0.95      1.17
email_click                          2.92    2.35      1.71
email_incoming_from_customer         0.30    0.10      0.05
email_open                          26.78   30.56     22.79
email_outgoing_to_customer           0.29    0.09      0.05
email_send                          44.45   57.90     63.96
email_sub                            0.09    0.14      0.28
email_unsub                          0.01    0.02      0.03
form_submission                      0.24    0.21      0.35
forward_receipt                      0.00    0.00      0.01
forward_received                     0.22    0.30      0.37
forward_send                         0.89    0.27      0.27
initial_creation                     0.38    0.50      1.03
merch_purchase                       0.10    0.11      0.14
page_view                           20.75    6.06      7.13
phonecall_incoming_from_customer     0.00    0.00      0.00
phonecall_outgoing_to_customer       0.00    0.00      0.00
primary_purchase_club                0.03    0.08      0.17
primary_purchase_ga                  0.01    0.01      0.01
primary_purchase_single              0.07    0.12      0.23
primary_purchase_sth                 0.16    0.04      0.02
primary_purchase_suite               0.01    0.00      0.00
secondary_purchase                   0.05    0.08      0.14
secondary_sale                       0.45    0.11      0.08
survey_submission                    0.02    0.01      0.01
text_incoming_from_customer          0.02    0.00      0.00
text_outgoing_to_customer            0.02    0.00      0.00

Activity Type Comparison:

               sth (%)  bp (%)  stnl (%)
ACTIVITY_TYPE
app              20.75    6.06      7.13
attend            1.73    0.95      1.17
communication    75.15   91.37     89.23
creation          0.38    0.50      1.03
forward           1.11    0.57      0.64
purchase          0.42    0.43      0.72
resale            0.45    0.11      0.08

Engagement Comparison:

                        sth (%)  bp (%)  stnl (%)
IS_ENGAGEMENT_ACTIVITY
0                         46.11   58.39      64.4
1                         53.89   41.61      35.6

EMAIL OPEN ENGAGEMENT
-found is always zero

In [6]:
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_email_open = stnl_comms[stnl_comms["ACTIVITY_CODE"] == "email_open"]
stnl_email_open['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100

IS_ENGAGEMENT_ACTIVITY
1    100.0
Name: proportion, dtype: float64

HOW SOURCES TRACK ENGAGEMENT

In [7]:
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_SOURCE"].value_counts(normalize=True) * 100

one_zero_as = pd.DataFrame({
    '1-stnl': one1.round(2),
    '0-stnl': zero1.round(2),
    '1-bp': one2.round(2),
    '0-bp': zero2.round(2),
    '1-sth': one3.round(2),
    '0-sth': zero3.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts()

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_SOURCE"].value_counts()

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_SOURCE"].value_counts()

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_SOURCE"].value_counts()

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_SOURCE"].value_counts()

one_zero_as_counts = pd.DataFrame({
    '1-stnl': one1,
    '0-stnl': zero1,
    '1-bp': one2,
    '0-bp': zero2,
    '1-sth': one3,
    '0-sth': zero3
}).fillna(0)
one_zero_as_counts = one_zero_as_counts.astype(int).map(lambda x: f"{x:,}")
one_zero_as_counts = one_zero_as_counts.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(one_zero_as)
print('COUNTS')
display(one_zero_as_counts)

PERCENT

                 1-stnl  0-stnl   1-bp   0-bp  1-sth  0-sth
ACTIVITY_SOURCE
archtics           6.81    0.55   4.12   0.65   4.38   2.91
dynamics           1.01    0.09   0.56   0.16   0.77   0.67
eloqua            70.46   99.37  79.75  99.19  55.44  96.42
fanatics           0.49    0.00   0.30   0.00   0.22   0.00
formstack          0.96    0.00   0.42   0.00   0.28   0.00
qualtrics          0.02    0.00   0.03   0.00   0.04   0.00
typeform           0.02    0.00   0.09   0.00   0.17   0.00
yinzcam           20.22    0.00  14.73   0.00  38.70   0.00

COUNTS

HOW EACH CODE ENGAGES-
showing us each is a zero or one

In [8]:
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero = stnl_zero_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one = stnl_one_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_zero_ac = pd.DataFrame({
    '1': one,
    '0': zero
}).fillna(0)

stnl_one_zero_ac

                                         1          0
ACTIVITY_CODE
attend                             45530.0        0.0
email_click                        66642.0        0.0
email_incoming_from_customer        1925.0        0.0
email_open                        890396.0        0.0
email_outgoing_to_customer             0.0     2053.0
email_send                             0.0  2499025.0
email_sub                          10960.0        0.0
email_unsub                            0.0     1248.0
form_submission                    13630.0        0.0
forward_receipt                      373.0        0.0
forward_received                   14282.0        0.0
forward_send                           0.0    10499.0
initial_creation                   40128.0        0.0
merch_purchase                      5552.0        0.0
page_view                         278751.0        0.0
phonecall_incoming_from_customer      14.0        0.0
phonecall_outgoing_to_customer         0.0       39.0
primary_purchase_club               6797.0        0.0
primary_purchase_ga                  428.0        0.0
primary_purchase_single             8866.0        0.0
primary_purchase_sth                 915.0        0.0
primary_purchase_suite                26.0        0.0
secondary_purchase                  5567.0        0.0
secondary_sale                         0.0     3299.0
survey_submission                    245.0        0.0
text_incoming_from_customer          108.0        0.0
text_outgoing_to_customer              0.0       73.0

HOW EACH TYPE ENGAGES-
shows us stnl acctually use app a lot as well.

In [9]:
#PERCENT
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_TYPE"].value_counts(normalize=True) * 100

one_zero_at = pd.DataFrame({
    '1-stnl': one1.round(2),
    '0-stnl': zero1.round(2),
    '1-bp': one2.round(2),
    '0-bp': zero2.round(2),
    '1-sth': one3.round(2),
    '0-sth': zero3.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero1 = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one1 = stnl_one_engagement["ACTIVITY_TYPE"].value_counts()

#bp
bp_zero_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero2 = bp_zero_engagement["ACTIVITY_TYPE"].value_counts()

bp_one_engagement = bp[bp['IS_ENGAGEMENT_ACTIVITY'] == 1]
one2 = bp_one_engagement["ACTIVITY_TYPE"].value_counts()

#sth
sth_zero_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero3 = sth_zero_engagement["ACTIVITY_TYPE"].value_counts()

sth_one_engagement = sth[sth['IS_ENGAGEMENT_ACTIVITY'] == 1]
one3 = sth_one_engagement["ACTIVITY_TYPE"].value_counts()

one_zero_at_counts = pd.DataFrame({
    '1-stnl': one1,
    '0-stnl': zero1,
    '1-bp': one2,
    '0-bp': zero2,
    '1-sth': one3,
    '0-sth': zero3
}).fillna(0)
one_zero_at_counts = one_zero_at_counts.astype(int).map(lambda x: f"{x:,}")
one_zero_at_counts = one_zero_at_counts.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(one_zero_at)
print('COUNTS')
display(one_zero_at_counts)

PERCENT

               1-stnl  0-stnl   1-bp   0-bp  1-sth  0-sth
ACTIVITY_TYPE
app             20.04    0.00  14.57   0.00  38.51   0.00
attend           3.27    0.00   2.29   0.00   3.21   0.00
communication   70.73   99.45  80.17  99.35  56.37  97.09
creation         2.88    0.00   1.20   0.00   0.71   0.00
forward          1.05    0.42   0.73   0.46   0.42   1.92
purchase         2.02    0.00   1.03   0.00   0.78   0.00
resale           0.00    0.13   0.00   0.19   0.00   0.99

COUNTS

Looking at only communication

In [10]:
#PERCENT
#stnl
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_comms_per = stnl_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#bp
bp_comms = bp[bp["ACTIVITY_TYPE"] == "communication"]
bp_comms_per = bp_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#sth
sth_comms = sth[sth["ACTIVITY_TYPE"] == "communication"]
sth_comms_per = sth_comms["ACTIVITY_CODE"].value_counts(normalize=True) * 100

comms_percent = pd.DataFrame({
    'stnl': stnl_comms_per.round(2),
    'bp': bp_comms_per.round(2),
    'sth': sth_comms_per.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_comms_counts = stnl_comms["ACTIVITY_CODE"].value_counts()

#bp
bp_comms = bp[bp["ACTIVITY_TYPE"] == "communication"]
bp_comms_counts = bp_comms["ACTIVITY_CODE"].value_counts()

#sth
sth_comms = sth[sth["ACTIVITY_TYPE"] == "communication"]
sth_comms_counts = sth_comms["ACTIVITY_CODE"].value_counts()

comms_count = pd.DataFrame({
    'stnl': stnl_comms_counts,
    'bp': bp_comms_counts,
    'sth': sth_comms_counts
}).fillna(0)
comms_count = comms_count.astype(int).map(lambda x: f"{x:,}")
comms_count = comms_count.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(comms_percent)
print('COUNTS')
display(comms_count)
print("Email Conversion:\nstnl:", round(890396 / 2499025, 4), 
      "\nbp:", round(341020 / 646257, 4), 
      "\nsth:", round(159118 / 264080, 4))

PERCENT

                                   stnl     bp    sth
ACTIVITY_CODE
email_click                        1.91   2.57   3.89
email_incoming_from_customer       0.06   0.10   0.40
email_open                        25.54  33.44  35.64
email_outgoing_to_customer         0.06   0.10   0.38
email_send                        71.68  63.37  59.15
email_sub                          0.31   0.15   0.11
email_unsub                        0.04   0.02   0.01
form_submission                    0.39   0.23   0.32
phonecall_incoming_from_customer   0.00   0.00   0.00
phonecall_outgoing_to_customer     0.00   0.00   0.01
survey_submission                  0.01   0.01   0.03
text_incoming_from_customer        0.00   0.00   0.03
text_outgoing_to_customer          0.00   0.00   0.02

COUNTS

Email Conversion:
stnl: 0.3563
bp: 0.5277
sth: 0.6025

Looking only at archtics

In [11]:
#PERCENT
#stnl
stnl_archtics = stnl[stnl["ACTIVITY_SOURCE"] == "archtics"]
stnl_archtics_per = stnl_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#bp
bp_archtics = bp[bp["ACTIVITY_SOURCE"] == "archtics"]
bp_archtics_per = bp_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

#sth
sth_archtics = sth[sth["ACTIVITY_SOURCE"] == "archtics"]
sth_archtics_per = sth_archtics["ACTIVITY_CODE"].value_counts(normalize=True) * 100

archtics_percent = pd.DataFrame({
    'stnl': stnl_archtics_per.round(2),
    'bp': bp_archtics_per.round(2),
    'sth': sth_archtics_per.round(2)
}).fillna(0)

#COUNTS
#stnl
stnl_archtics = stnl[stnl["ACTIVITY_SOURCE"] == "archtics"]
stnl_archtics_counts = stnl_archtics["ACTIVITY_CODE"].value_counts()

#bp
bp_archtics = bp[bp["ACTIVITY_SOURCE"] == "archtics"]
bp_archtics_counts = bp_archtics["ACTIVITY_CODE"].value_counts()

#sth
sth_archtics = sth[sth["ACTIVITY_SOURCE"] == "archtics"]
sth_archtics_counts = sth_archtics["ACTIVITY_CODE"].value_counts()

archtics_count = pd.DataFrame({
    'stnl': stnl_archtics_counts,
    'bp': bp_archtics_counts,
    'sth': sth_archtics_counts
}).fillna(0)
archtics_count = archtics_count.astype(int).map(lambda x: f"{x:,}")
archtics_count = archtics_count.style.set_properties(**{'text-align': 'left'})

print('PERCENT')
display(archtics_percent)
print('COUNTS')
display(archtics_count)

PERCENT

                          stnl     bp    sth
ACTIVITY_CODE
attend                   41.93  45.56  46.70
forward_receipt           0.34   0.23   0.10
forward_received         13.15  14.23   5.94
forward_send              9.67  12.74  23.96
initial_creation         11.05   6.41   2.27
primary_purchase_club     6.26   3.89   0.86
primary_purchase_ga       0.39   0.43   0.16
primary_purchase_single   8.17   5.79   1.82
primary_purchase_sth      0.84   1.69   4.32
primary_purchase_suite    0.02   0.02   0.23
secondary_purchase        5.13   3.65   1.36
secondary_sale            3.04   5.35  12.27

COUNTS

Customers dont overlap

In [12]:
sth_member1 = sth[sth["CUSTOMER_KEY"] == -8823143030947066599]
sth_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-8823143030947066599,6595897474716861939,seahawks,yinzcam,page_view,app,2024-01-07 19:17:39.000,1
106,-8823143030947066599,-3844313287896419522,NaN,eloqua,email_send,communication,2022-10-24 16:36:21.670,0
559,-8823143030947066599,-5168370295813655316,seahawks,yinzcam,page_view,app,2023-09-23 04:58:06.000,1
685,-8823143030947066599,1307622683966494393,seahawks,yinzcam,page_view,app,2024-10-05 22:07:49.000,1
1345,-8823143030947066599,-5439968034497520245,NaN,eloqua,email_open,communication,2021-11-23 20:14:53.040,1
...,...,...,...,...,...,...,...,...
592245,-8823143030947066599,-7702253097365253898,seahawks,yinzcam,page_view,app,2024-11-04 00:56:51.000,1
592384,-8823143030947066599,-1843041541880059070,NaN,eloqua,email_send,communication,2022-06-22 15:46:01.200,0
592690,-8823143030947066599,-2902078227461106619,NaN,eloqua,email_send,communication,2020-09-22 19:11:56.667,0
593371,-8823143030947066599,-4947692070266265986,NaN,eloqua,email_send,communication,2018-04-23 16:03:49.873,0
593769,-8823143030947066599,8585777266841184034,NaN,eloqua,email_click,communication,2023-06-12 16:15:18.377,1

In [13]:
bp_member1 = bp[bp["CUSTOMER_KEY"] == -2088124723136293548]
bp_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-2088124723136293548,5252390080279049842,NaN,eloqua,email_send,communication,2021-02-26 16:33:34.713,0
67,-2088124723136293548,-8924500597732813599,NaN,eloqua,email_send,communication,2021-07-12 17:00:51.087,0
1119,-2088124723136293548,6862624063592193442,NaN,eloqua,email_open,communication,2017-05-06 12:17:37.157,1
2344,-2088124723136293548,818271760477309340,NaN,eloqua,email_send,communication,2018-12-07 17:37:00.773,0
2891,-2088124723136293548,8282172426501286610,NaN,eloqua,email_send,communication,2019-03-01 13:02:06.850,0
...,...,...,...,...,...,...,...,...
1115059,-2088124723136293548,-1464262309263384400,NaN,eloqua,email_send,communication,2022-10-11 21:02:46.863,0
1115451,-2088124723136293548,3039069659399557326,NaN,eloqua,email_send,communication,2021-04-27 21:29:53.647,0
1115644,-2088124723136293548,-2308681292663756694,NaN,eloqua,email_send,communication,2023-07-31 19:25:13.377,0
1115753,-2088124723136293548,9220230196487015768,NaN,eloqua,email_open,communication,2021-11-09 01:30:00.837,1
1115850,-2088124723136293548,-7719541292943807324,NaN,eloqua,email_send,communication,2024-05-09 18:04:03.007,0

In [14]:
stnl_member1 = stnl[stnl["CUSTOMER_KEY"] == -7867354998288837896]
stnl_member1

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-7867354998288837896,-3383110370224525131,NaN,archtics,initial_creation,creation,1978-12-28 00:00:00.000,1
5595,-7867354998288837896,-5521172998172802772,NaN,eloqua,email_sub,communication,2016-06-07 19:56:56.617,1
8839,-7867354998288837896,239269642072568203,NaN,eloqua,initial_creation,creation,2016-06-08 18:51:54.967,1
16658,-7867354998288837896,-6017612491758405781,NaN,eloqua,email_send,communication,2017-03-06 13:00:49.257,0
16800,-7867354998288837896,-3848087692278692550,NaN,eloqua,email_open,communication,2017-03-06 14:37:22.220,1
...,...,...,...,...,...,...,...,...
3846598,-7867354998288837896,7733446212515243434,NaN,eloqua,email_send,communication,2024-11-19 19:04:16.123,0
3850617,-7867354998288837896,1388643230083173116,NaN,eloqua,email_send,communication,2024-11-20 20:03:47.293,0
3856220,-7867354998288837896,-8618599206805395009,NaN,eloqua,email_send,communication,2024-11-21 20:33:18.670,0
3887311,-7867354998288837896,-2525465095460121844,NaN,eloqua,email_send,communication,2024-12-05 19:33:23.907,0
3901752,-7867354998288837896,-610804761229960674,NaN,eloqua,email_send,communication,2024-12-10 14:56:40.573,0

Combine each list by each customer

In [24]:
# Create copy to manipulate by removing avtivity key
stnl_copy = stnl.copy()
# Make dummy variables for LOB only counting non NaNs
stnl_copy['LOB_SEAHAWKS'] = stnl_copy['LINE_OF_BUSINESS'] == "seahawks"
stnl_copy['LOB_FGI'] = stnl_copy['LINE_OF_BUSINESS'] == "fgi"
# Drop unneeded columns
stnl_dropped = stnl_copy.drop(columns=['CUSTOMER_ACTIVITY_KEY','ACTIVITY_SOURCE','ACTIVITY_TYPE','ACTIVITY_DATETIME','LINE_OF_BUSINESS'])
# Create dummy variables for AC into 1's and 0's
stnl_dummy_code = pd.get_dummies(stnl_dropped, columns=['ACTIVITY_CODE'], drop_first=True)
stnl_dummy_code = stnl_dummy_code.astype(int)
# Group by indiv customer by summing unique activity codes
stnl_grouped = stnl_dummy_code.groupby('CUSTOMER_KEY').sum().reset_index()
stnl_grouped

,CUSTOMER_KEY,IS_ENGAGEMENT_ACTIVITY,LOB_SEAHAWKS,LOB_FGI,ACTIVITY_CODE_email_click,ACTIVITY_CODE_email_incoming_from_customer,ACTIVITY_CODE_email_open,ACTIVITY_CODE_email_outgoing_to_customer,ACTIVITY_CODE_email_send,ACTIVITY_CODE_email_sub,...,ACTIVITY_CODE_primary_purchase_club,ACTIVITY_CODE_primary_purchase_ga,ACTIVITY_CODE_primary_purchase_single,ACTIVITY_CODE_primary_purchase_sth,ACTIVITY_CODE_primary_purchase_suite,ACTIVITY_CODE_secondary_purchase,ACTIVITY_CODE_secondary_sale,ACTIVITY_CODE_survey_submission,ACTIVITY_CODE_text_incoming_from_customer,ACTIVITY_CODE_text_outgoing_to_customer
0,-9222983717532481599,99,82,0,2,0,18,0,82,1,...,0,0,2,9,0,1,8,0,0,0
1,-9221796194203926775,520,433,0,3,0,79,0,141,1,...,0,0,1,0,0,0,0,0,0,0
2,-9217681871912091718,375,37,0,31,0,302,0,1156,1,...,1,0,0,0,0,1,0,0,0,0
3,-9217107949964181212,51,7,0,4,0,36,0,125,1,...,0,0,2,0,0,0,0,0,0,0
4,-9216478130424774477,184,9,0,5,0,165,0,246,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,9221556645690691660,16,2,0,0,0,9,0,87,1,...,1,0,0,0,0,0,0,0,0,0
11996,9221564892603162287,61,4,0,0,0,53,0,44,1,...,0,0,1,0,0,0,0,0,0,0
11997,9222097363379686101,183,19,3,17,0,140,0,225,1,...,2,0,1,0,0,1,0,0,0,0
11998,9222648775076894888,97,5,0,9,0,79,0,111,1,...,1,0,0,0,0,1,0,0,0,0
11999,9222884040671659833,16,5,0,0,0,6,0,20,1,...,1,0,0,0,0,0,0,0,0,0